<div id="graph"></div>

<script>
	
	// Init
	var w = 970, h = 640;
	var graph = d3.select("#graph").append("svg:svg").attr("width", w).attr("height", h).attr("class","bubble");

	// Functions
	format = d3.format(",d");
	fill = d3.scale.category20c();
	
	// Graph - Bubble Chart
	d3.json("<%= request.url %>.json", function(json) {
	
		var bubble = d3.layout.pack()
			.sort(null)
			.size([w,h]);

		var node = graph.selectAll("g.node")
			.data(bubble(traverse(json.institutions))
				.filter(function(d) { return !d.children; }))
			.enter().append("svg:g")
			.attr("class", "node")
			.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
		
		console.log( node );
		
		node.append("svg:circle")
			.attr("r", function(d) { return d.r; })
			.style("fill", function(d) { return "#ccc"; });
		 
		node.append("svg:text")
			.attr("text-anchor", "middle")
			.attr("dy", ".3em")
			.text(function(d) { return d.data.name; });
	
	});
	
	function traverse(node) {
		var children = [];
		for (var i in node) {
			children.push({
				name: node[i].name,
				value: node[i].awarded
			});
		}
		return {children: children};
	};
			
</script>

<style>
	#graph circle {stroke:#fff; opacity:0.75;}
		#graph circle:hover {opacity:1;}
	#graph text {fill:#fff; font-family:Diavlo;}
</style>