<div id="graph">
	<div id="loader">Loading...</div>
	<p id="caption"><b>Above:</b> Institutional subsidies for <span class="legend_start_year"><%= @start_date.year %></span><span class="legend_end_year">-<%= @end_date.year %></span> scaled by amount awarded and colored by <span class="clean">clean energy</span> in their project portfolio.</p>
</div>

<script>

// Setup

	var w = $('#wrapper').width(), h = $('#wrapper').height() - 140;
	var graph = d3.select("#graph").append("svg:svg").attr("width", w).attr("height", h);
	var scale = d3.scale.linear().domain([1,1E12]).range([1,500]);
	var pow = d3.scale.pow().exponent(2);
	var color = d3.interpolateRgb("#630","#6f6");
	function bubblize(data) { var bubbles = []; for (var b in data) { var bubble = data[b]; bubbles.push(bubble); } return {children: bubbles};	}
	var bubble = d3.layout.pack().sort(null)
		.value(function(d) { return scale( d.total ); })
		.size([w,h]);

// Animation

	function drawGraph(data) {
		
		var label = graph.selectAll("text.label")
			.data(bubble(bubblize(data)).filter(function(d) { return d.data.live_total > 0; }).filter(function(d) { return !d.children; }));
		
		label.enter().append("svg:text")
			.attr("class", "label")
			.text(function(d) { return d.data.abbreviation; })
			.attr("x", function(d) { return d.x; })
			.attr("y", function(d) { return d.y; })
			.attr("style", "opacity:0; font-size:0;");
		
		label.transition().duration(1000)
			.attr("x", function(d) { return d.x; })
			.attr("y", function(d) { return d.y; })
			.attr("style", function(d) { return "opacity:1; font-size:"+(d.r / 3) + "px"; });

		label.exit().transition().duration(1000)
			.attr("style", "opacity:0; font-size:0;")
			.remove();

		var node = graph.selectAll("circle.node")
			.data(bubble(bubblize(data)).filter(function(d) { return d.data.live_total > 0; }).filter(function(d) { return !d.children; }));
		
		node.enter().append("svg:circle")
			.attr("class", function(d) { return "node "+d.data.category; })
			.attr("cx", function(d) { return d.x; })
			.attr("cy", function(d) { return d.y; })
			.attr("r", 0)
			.on("click", function(d) { window.location = "/institutions/"+d.data.institution_id; });						

		node.transition().duration(1000)
			.attr("cx", function(d) { return d.x; })
			.attr("cy", function(d) { return d.y; })
			.attr("r", function(d) { return d.r; })
			.style("fill", function(d) { return color(pow(d.data.live_clean / Math.max(d.data.live_total,1)) ); });
			
		node.exit()
			.transition().duration(1000)
			.attr("r", 0)
			.remove();	
	}
	
</script>