<div id="graph">
	<div id="info"><h1><%= @institution.name %></h1><p><%= @institution.description %></p></div>
	<p id="caption"><b>Above:</b> <span class="clean">clean</span>, <span class="fossil">fossil fuel</span>, and <span class="other">other</span> energy projects of <%= @institution.shortname %>, scaled by dollar amount.</p>
</div>

<script>
function drawGraph(graph,data) {
	var bubble = bubble_graph('#graph','d.live_received');

	var bubbles = graph.selectAll("div.bubble")
		.data(bubble(bubblize(data.projects))
			.filter(function(d) { return d.data.live_received > 0; })
			.filter(function(d) { return !d.children; }));
	
	make_bubbles(bubbles,'','d.data.category','d.data.url','d.data.sector','d.data.icon');
};	
</script>