<div id="graph"><div id="loader">Loading...</div></div>

<script>
	var w = 970, h = 640;
	var graph = d3.select("#graph").append("svg:svg").attr("width", w).attr("height", h);
	
	// Functions
	var scale = d3.scale.linear();
	
	// Bubble Chart	
	var bubble = d3.layout.pack()
		.sort(null)
		.value(function(d) { return (d.amount_raw > 0) ? d.amount_raw / 1000 : 1; })
		.size([w,h]);

	d3.json("<%= request.url %>/projects.json", function(json) {
		var node = graph.selectAll("g.node")
			.data(bubble(bubblize(json.projects))
				.filter(function(d) { return !d.children; }))
		.enter().append("svg:g")
			.attr("class","node")
			.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

		node.append("svg:image")
			.attr("class", "circle")
			.attr("xlink:href", function(d) { return d.data.icon; })
			.attr("x", function(d) { return "-" + d.r / 2 + "px"; })
			.attr("y", function(d) { return "-" + d.r / 2 + "px"; })
			.attr("width", function(d) { return d.r + "px"; })
			.attr("height", function(d) { return d.r + "px"; });
			
/*
		node.append("svg:text")
			.attr("class", "label")
			.attr("style", function(d) { return "font-size:"+(d.r / 2) + "px"; })
			.text(function(d) { return d.data.amount_human; });
*/

		node.append("svg:circle")
			.attr("class", function(d) { return d.data.category; })
			.attr("r", function(d) { return d.r; })
			.on("click", function(d) { location.href = d.data.project_url; });		

		d3.select("#loader").remove();
	});

	
	function bubblize( data ) {
		var bubbles = [];
		
		for (var b in data) {
			var bubble = data[b];
			bubbles.push(bubble);
		}
		//console.log(bubbles);
		return {children: bubbles};
	}
	
</script>