<p id="table_caption">Subsidies awarded by <%= @institution.shortname %> for <span class="legend_start_year"><%= @start_date.year %></span><span class="legend_end_year">-<%= @end_date.year %></span>.</p>

<table id="table">
	<thead><tr><th>Amount</th><th>To</th><th>Project</th><th>Sector</th><th>Access?</th><th>Date</th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th></tr></tfoot>
</table>

<script>
function drawTable(data) {
	var h = $('#graph').height() - 162; /* thead (86px) + tfoot (78px) */
	var oTable = $('#table').dataTable({
		"bDestroy": true,
		"bPaginate": false,
		"aaData": data.subsidies,
		"sScrollY": h+'px',
		"aoColumns": [
			{"sWidth":"100px", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['amount']); }, "sType":"currency", "asSorting":["desc","asc"] },
			{"fnRender":function(oObj) { return oObj.aData['to']; }},
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['project_url']+'">'+oObj.aData['for']+'</a>'; }},
			{"sWidth":"100px", "mDataProp":"sector"},
			{"sWidth":"50px", "fnRender":function(oObj) { if (oObj.aData['access?']) { return 'yes'; } else { return 'no'; }}},
			{"sWidth":"100px", "mDataProp":"date"},
		],
		"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
			var total = {'total':0};
			for (var i=iStart; i<iEnd; i++) {
				total['total']  += aaData[aiDisplay[i]]['amount']*1.0;
			}
			var footer = nRow.getElementsByTagName('th');
			footer[0].innerHTML = '$'+to_currency(total['total']);
		}
	});
	$('button.table').click(function() { oTable.fnAdjustColumnSizing(); });	
};
</script>