<p id="table_caption">Subsidies awarded by <%= @institution.name %> for <span class="legend_start_year"><%= @start_date.year %></span><span class="legend_end_year">-<%= @end_date.year %></span>.</p>

<table id="table">
	<thead><tr><th>Amount</th><th>To Entity</th><th>For Project</th><th>Region</th><th>Sector</th><th>Access?</th><th>Date</th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th></tr></tfoot>
</table>

<script>
function draw_table(data) {
	var h = $('#graph').height() - 162; /* thead (86px) + tfoot (78px) */
	var oTable = $('#table').dataTable({
		"bDestroy": true,
		"bPaginate": false,
		"aaData": data.subsidies,
		"sScrollY": h+'px',
		'aoColumns': [
			{
				'sWidth': '10%', 'sType': 'currency', 'asSorting': ['desc','asc'],
				'mData': 'amount',
				'mRender': function( data ) { return '$'+to_currency( data.all ); }
			},
			{
				'mData': 'to'
			},
			{
				'mData': 'for',
				'mRender': function( data, type, row ) { return '<a href="'+row.project_url+'">'+data+'</a>'; }
			},
			{
				'mData': 'region'
			},
			{
				'sWidth': '10%',
				'mData': 'sector'
			},
			{
				'sWidth': '10%',
				'mData': 'access?',
				'mRender': function( data ) { if (data) { return 'yes'; } else { return 'no'; } }
			},
			{
				'sWidth':'10%',
				'mData': 'date'
			}
		],
		'fnRowCallback': function( tr, row, index ) {
			$('td:eq(0)', tr).html( '$'+to_currency( row.amount[r] ));
		},
		'fnFooterCallback': function ( tr, row, start, end, index ) {
			var total = {'total': 0};
			for (var i=start; i<end; i++) {
				total.total  += row[index[i]].amount[r] * 1.0;
			}
			$('th:eq(0)', tr).html( '$'+to_currency( total.total ));
		}
	});
	$.fn.dataTableExt.afnFiltering.push(function( oSettings, aData, iDataIndex ) {
		if ( aData[0] != '$0' ) { return true; } else { return false; }
	});
	$('button.table').click(function() { oTable.fnAdjustColumnSizing(); });	
};
</script>