<table id="institutions">
	<thead>
		<tr>
			<th>Awarded (USD)</th>
			<th>Institution</th>
			<th>Clean Energy</th>
			<th>Energy Access</th>
			<th></th>
		</tr>
  </thead>
	<tbody>
	<tr colspan="3"><td>Loading data...</td></tr>
	</tbody>
</table>

<script>
$(document).ready(function() {
	$('#institutions').dataTable({
		"bProcessing": true,
		"sAjaxSource": "<%= request.url %>.json?s=<%= start_date.year %>&e=<%= end_date.year %>",
		"sAjaxDataProp": "institutions",
		"aoColumns": [
			{ "mDataProp":"awarded", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['institution_url']+'">'+oObj.aData['name']+'</a> ('+oObj.aData['abbreviation']+')<br><span class="desc">'+oObj.aData['description']+'</span>'; }},
			{"sWidth":"100px", "mDataProp":"percent_clean"},
			{"sWidth":"100px", "mDataProp":"percent_access"},
		],
		"sPaginationType": "full_numbers"
	});
} );
</script>