<%= render :partial => "menubar" %>

<div id="graphview" class="view">
	<%= render :partial => "bubble" %>
	<p id="caption">Lending institutions scaled by amount and colored by fossil fuel/clean energy ratio.</p>
</div>

<div id="tableview" class="view">
	<%= render :partial => "table" %>
</div>