<%= render :partial => "layouts/menubar", :locals => {:start_date => @start_date, :end_date => @end_date} %>

<div id="graphview" class="view">
	<%= render :partial => "bubble" %>
</div>

<div id="tableview" class="view">
	<%= render :partial => "table", :locals => {:start_date => Date.civil(2000), :end_date => Date.today} %>
</div>