<%= render :partial => "menubar" %>

<div id="graphview" class="view">
	<%= render :partial => "subsidies/force", :object => @subsidies %>
</div>

<div id="tableview" class="view">
	<%= render :partial => "subsidies" %>
</div>
