<table id="projects">
	<thead><tr><th>Received</th><th>Name</th><th>Country</th><th>Sector</th><th>Access?</th><th></th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th></tr></tfoot>
</table>

<script>
$(document).ready(function() {
	var h = $('#wrapper').height() - 328;
	$('#projects').dataTable({
		"bProcessing": true,
		"bPaginate": false,
		"sAjaxSource": "<%= admin_sector_projects_url( @sector ) %>.json",
		"sAjaxDataProp": "projects",
		'aaSorting': [[0,'desc']],
		"sScrollY": h+'px',
		"aoColumns": [
			{"sWidth":"100px", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['received']); }, "sType":"currency", "asSorting":["desc","asc"] },
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['project_url']+'">'+oObj.aData['name']+'</a>'; }},
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['sector_url']+'">'+oObj.aData['sector']+'</a>'; }},
			{"sWidth":"100px", "mDataProp":"region"},
			{"sWidth":"50px", "fnRender":function(oObj) { return oObj.aData['access?']; }},
			{"bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { <% if @user %>return '<a class="edit icon" href="'+oObj.aData['project_url']+'/edit/">Edit</a>';<% else %>return "";<% end %> }}
		],
		"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
			var total = {'total':0};
			for (var i=iStart; i<iEnd; i++) {
				total['total']  += aaData[aiDisplay[i]]['received']*1.0;
			}
			var footer = nRow.getElementsByTagName('th');
			footer[0].innerHTML = '$'+to_currency(total['total']);
		}
	});
});
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Project', new_admin_project_path, :class => "new button" %>
</p><% end %>