<table id="table">
	<thead><tr>
		<th>Received</th>
		<th>Projects</th>
		<th></th>
		<th>Name</th>
		<th>Category</th>
		<th><span class="error icon">Errors?</span></th>
		<th></th>
	</tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></tr></tfoot>
</table>

<script>
function draw_table( data ) {
	var h = $('#wrapper').height() - 250;
	$('#table').dataTable({
		"bProcessing": true,
		"bPaginate": false,
		"aaData": data.sectors,
		"sScrollY": h+'px',
		'aoColumns': [
			{
				'sWidth': '10%', 'sType': 'currency', 'asSorting': ['desc','asc'],
				'mData': 'received',
				'mRender': function( data ) { return '$'+to_currency( data ); }
			},
			{
				'sWidth': '5%',
				'mData': 'projects'
			},
			{
				'sWidth': '5%',
				'mData': 'icon',
				'mRender': function( data ) { return '<img src="'+data+'" height="32" width="32" />'; }
			},
			{
				'mData': 'name',
				'mRender': function( data, type, row ) { return '<a href="/sectors/'+row.sector_id+'">'+data+'</a>'; }
			},
			{
				'sWidth': '10%',
				'mData': 'category'
			},
			{
				'sWidth': '5%',
				'mData': 'valid',
				'mRender': function( data ) { if ( data != true ) { return '<span class="error icon">Errors</span>'; } else { return '&nbsp;'; }}
			},
			{
				'sWidth': '5%',
				'bSortable': false,
				'mData': 'sector_id',
				'mRender': function( data ) { return '<a class="edit icon" href="/admin/sectors/'+data+'/edit/">Edit</a>'; }
			}
		],
		'fnFooterCallback': function ( tr, row, start, end, index ) {
			var total = {'total': 0};
			for (var i=start; i<end; i++) {
				total.total  += row[index[i]].received * 1.0;
			}
			$('th:eq(0)', tr).html( '$'+to_currency( total.total ));
		},

		// TableTools
		'sDom': 'T<"clear">lfrtip',
		'oTableTools': {
			'aButtons': [{
				'sExtends': 'csv',
				'sButtonText': 'Download as CSV'
			}],
			'sSwfPath': '/assets/jquery.dataTables.tableTools.swf'
		}
	});
};
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Sector', new_admin_sector_path, :class => "new button" %>
</p><% end %>