<table id="sectors">
	<thead><tr><th>Received</th><th>Projects</th><th>Name</th><th>Category</th><th><span class="error icon">Errors?</span></th><th></th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
</table>

<script>
$(document).ready(function() {
	var h = $('#wrapper').height() - 328;
	$('#sectors').dataTable({
		"bPaginate": false,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "sectors",
		"sScrollY": h+'px',
		"aoColumns": [
			{"mDataProp":"received", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{"sWidth":"50px", "mDataProp":"projects"},
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['sector_url']+'">'+oObj.aData['name']+'</a>'; }},
			{"mDataProp":"category"},
			{"sWidth":"15px", "fnRender":function(oObj) { if (oObj.aData['valid'] != true) { return '<span class="error icon">Errors</span>'; } else { return "&nbsp;"; }}},
			{"bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { <% if @user %>return '<a class="edit icon" href="'+oObj.aData['sector_url']+'/edit/">Edit</a>';<% else %>return "";<% end %> }}
		],
		"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
			var total = {'total':0};
			for (var i=iStart; i<iEnd; i++) {
				total['total']  += aaData[aiDisplay[i]]['amount_raw']*1.0;
			}
			var footer = nRow.getElementsByTagName('th');
			footer[0].innerHTML = '$'+to_currency(total['total']);
		}
	});
});
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Sector', new_admin_sector_path, :class => "new button" %>
</p><% end %>