<table id="sectors">
	<thead>
		<tr>
			<th>Received (USD)</th>
			<th>Projects</th>
			<th>Name</th>
    	<th>Category</th>
    	<th></th>
    	<th></th>
		</tr>
  </thead>
</table>

<script>
$(document).ready(function() {
	$('#sectors').dataTable({
		"bPaginate": false,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "sectors",
		"aoColumns": [
			{"mDataProp":"received", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{"sWidth":"50px", "mDataProp":"projects"},
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['sector_url']+'">'+oObj.aData['name']+'</a>'; }},
			{"mDataProp":"category"},
			{"sWidth":"15px", "fnRender":function(oObj) { if (oObj.aData['valid'] != true) { return '<span class="error icon">Errors</span>'; } else { return "&nbsp;"; }}},
			{"bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { <% if @user %>return '<a class="edit icon" href="'+oObj.aData['sector_url']+'/edit/">Edit</a>';<% else %>return "";<% end %> }}
		],
		"sPaginationType": "full_numbers"	});
} );
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Sector', new_admin_sector_path, :class => "new button" %>
</p><% end %>