<table id="table">
	<thead><tr><th>Amount</th><th>From</th><th>To</th><th>For</th><th>Date</th><th>Sector</th><th>Kind</th><th><span class="error icon">Errors?</span></th><th></th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
</table>

<script>
function draw_table( data ) {
	var h = $('#wrapper').height() - 250;
	$('#table').dataTable({
		"bPaginate":false,
		"aaData": data.subsidies,
		"sScrollY": h+'px',
		"aoColumns": [
			{
				'sWidth': '15%', 'sType': 'currency', 'asSorting': ['desc','asc'],
				'mData': 'amount',
				'mRender': function( data ) { return '$'+to_currency( data ); }
			},
			{
				'sWidth': '20%',
				'mData': 'from',
				'mRender': function( data, type, row ) { return '<a href="'+row.institution_url+'">'+data+'</a>'; }
			},
			{
				'sWidth': '20%',
				'mData': 'to',
				'mRender': function( data, type, row ) { return '<a href="'+row.entity_url+'">'+data+'</a>'; }
			},
			{
				'sWidth': '20%',
				'mData': 'for',
				'mRender': function( data, type, row ) { return '<a href="'+row.project_url+'">'+data+'</a>'; }
			},
			{
				'sWidth': '5%',
				'mData': 'date'
			},
			{
				'sWidth': '5%',
				'mData': 'sector'
			},
			{
				'sWidth': '5%',
				'mData': 'kind'
			},
			{
				'sWidth': '5%',
				'mData': 'valid',
				'mRender': function( data ) { if ( data != true ) { return '<span class="error icon">Errors</span>'; } else { return '&nbsp;'; }}
			},
			{
				'sWidth': '5%',
				'bSortable': false,
				'mData': 'subsidy_id',
				'mRender': function( data ) { return '<a class="edit icon" href="/admin/subsidies/'+data+'/edit/">Edit</a>'; }
			}
		],
		'fnFooterCallback': function ( tr, row, start, end, index ) {
			var total = {'total': 0};
			for (var i=start; i<end; i++) {
				total.total  += row[index[i]].amount * 1.0;
			}
			$('th:eq(0)', tr).html( '$'+to_currency( total.total ));
		},

		// TableTools
		'sDom': 'T<"clear">lfrtip',
		'oTableTools': {
			'aButtons': [{
				'sExtends': 'csv',
				'sButtonText': 'Download as CSV'
			}],
			'sSwfPath': '/assets/jquery.dataTables.tableTools.swf'
		}
	});
};
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Subsidy', new_admin_subsidy_path, :class => "new button" %>
</p><% end %>