<table id="table">
	<thead>
		<tr>
    	<th>Amount (USD)</th>
    	<th>From</th>
    	<th>To</th>
    	<th>For</th>
    	<th>Date</th>
    	<th></th>
    	<th></th>
		</tr>
  </thead>
</table>

<script>
function drawTable(data) {
	$('#table').dataTable({
		"bPaginate":false,
		"aaData": data.subsidies,
		"aoColumns": [
			{ "mDataProp":"amount", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{ "fnRender":function(oObj) { return '<a href="'+oObj.aData['institution_url']+'">'+oObj.aData['from']+'</a>'; }},
			{ "fnRender":function(oObj) { return '<a href="'+oObj.aData['entity_url']+'">'+oObj.aData['to']+'</a>'; }},
			{ "fnRender":function(oObj) { return '<a href="'+oObj.aData['project_url']+'">'+oObj.aData['for']+'</a>'; }},
			{ "mDataProp":"date", "sWidth":"75px" },
			{ "sWidth":"15px", "fnRender":function(oObj) { if (oObj.aData['valid'] != 'true') { return '<span class="error icon">Errors</span>'; } else { return "&nbsp;"; }}},
			{ "bSortable":false, "sWidth":"15px", "fnRender":function(oObj) { return '<a class="edit icon" href="'+oObj.aData['subsidy_url']+'/edit/">Edit</a>'; }}
		]
	});
};
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Subsidy', new_admin_subsidy_path, :class => "new button" %>
</p><% end %>