<header id="menubar"><h1>Editing Subsidy</h1></header>

<%= render 'form' %>

<%= link_to "Delete this subsidy", [:admin,@subsidy], :confirm => 'Are you sure?', :method => :delete, :class => "delete button" %>