	<table id="table">
	<thead>
		<tr>
			<th>Total</th>
			<th>Institution</th>
			<th>Clean</th>
			<th>%</th>
			<th>Fossil</th>
			<th>%</th>
			<th>Access</th>
			<th>%</th>
			<th><span class="error icon">Errors?</span></th>
			<th></th>
		</tr>
	</thead>
	<tbody></tbody>
	<tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
</table>

<script>
function draw_table( data ) {
	var h = $('#wrapper').height() - 250;
	$('#table').dataTable({
		"bPaginate": false,
		"aaData": data.institutions,
		"sScrollY": h+'px',
		'aaSorting': [[0,'desc']],
		'aoColumns': [
			{
				'sWidth': '10%', 'sType': 'currency',
				'mData': 'total',
				'mRender': function( data ) { return '$'+to_currency( data ); }
			},
			{
				'sWidth': '45%',
				'mData': 'name',
				'mRender': function( data, type, row ) { return '<a href="/admin/institutions/'+row.institution_id+'">'+data+'</a>'; }
			},
			{
				'sWidth': '10%', 'sType': 'currency',
				'mData': 'clean',
				'mRender': function( data ) { return '$'+to_currency( data ); }
			},
			{
				'sWidth': '5%', 'sType': 'percent',
				'mData': 'clean',
				'mRender': function( data, type, row ) { return Math.floor((data / Math.max(row.total,1)) * 100)+'%'; }
			},
			{
				'sWidth': '10%', 'sType': 'currency',
				'mData': 'fossil',
				'mRender': function( data ) { return '$'+to_currency( data ); }
			},
			{
				'sWidth':'5%', 'sType': 'percent',
				'mData': 'fossil',
				'mRender': function( data, type, row ) { return Math.floor((data / Math.max(row.total,1)) * 100)+"%"; }
			},
			{
				'sWidth': '10%', 'sType': 'currency',
				'mData': 'access',
				'mRender': function( data ) { return '$'+to_currency( data ); }
			},
			{
				'sWidth': '5%', 'sType': 'percent',
				'mData': 'access',
				'mRender': function( data, type, row ) { return Math.floor((data / Math.max(row.total,1)) * 100)+'%'; }
			},
			{
				'sWidth': '5%',
				'mData': 'valid',
				'mRender': function( data ) { if ( data != true ) { return '<span class="error icon">Errors</span>'; } else { return '&nbsp;'; }}
			},
			{
				'sWidth': '5%',
				'bSortable': false,
				'mData': 'institution_id',
				'mRender': function( data ) { return '<a class="edit icon" href="/admin/institutions/'+data+'/edit/">Edit</a>'; }
			}
		],
		'fnFooterCallback': function ( tr, row, start, end, index ) {
			var total = {'total': 0, 'clean': 0, 'fossil': 0, 'access': 0};
			for (var i=start; i<end; i++) {
				total.total  += row[index[i]].total * 1.0;
				total.clean  += row[index[i]].clean * 1.0;
				total.fossil += row[index[i]].fossil * 1.0;
				total.access += row[index[i]].access * 1.0;
			}
			$('th:eq(0)', tr).html( '$'+to_currency( total.total ));
			$('th:eq(2)', tr).html( '$'+to_currency( total.clean ));
			$('th:eq(4)', tr).html( '$'+to_currency( total.fossil ));
			$('th:eq(6)', tr).html( '$'+to_currency( total.access ));
		},

		// TableTools
		'sDom': 'T<"clear">lfrtip',
		'oTableTools': {
			'aButtons': [{
				'sExtends': 'csv',
				'sButtonText': 'Download as CSV'
			}],
			'sSwfPath': '/assets/jquery.dataTables.tableTools.swf'
		}
	});
};
</script>

<p class="buttons">
	<%= link_to 'New Institution', new_admin_institution_path, :class => "new button" %>
</p>