<table id="institutions">
	<thead><tr><th>Total</th><th>Institution</th><th>Clean</th><th>%</th><th>Fossil</th><th>%</th><th>Access</th><th>%</th><th><span class="error icon">Errors?</span></th><th></th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
</table>

<script>
$(document).ready(function() {
	var h = $('#wrapper').height() - 328;
	$('#institutions').dataTable({
		"bPaginate": false,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "institutions",
		"sScrollY": h+'px',
		"aoColumns": [
			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['total']); },"asSorting":["desc","asc"]},

			{"sWidth":"400px", "fnRender":function(oObj) { return '<a href="/admin/institutions/'+oObj.aData['institution_id']+'">'+oObj.aData['name']+'</a> ('+oObj.aData['abbreviation']+')<br><span class="desc">'+oObj.aData['description']+'</span>'; }},

			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['clean']); },"asSorting":["desc","asc"]},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['clean'] / Math.max(oObj.aData['total'],1)) * 100)+"%"; }},

			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['fossil']); },"asSorting":["desc","asc"]},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['fossil'] / Math.max(oObj.aData['total'],1)) * 100)+"%"; }},

			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['access']); },"asSorting":["desc","asc"]},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['access'] / Math.max(oObj.aData['total'],1)) * 100)+"%"; }},

			{"sWidth":"25px", "fnRender":function(oObj) { if (oObj.aData['valid'] != true) { return '<span class="error icon">Errors</span>'; } else { return "&nbsp;"; }},"asSorting":["desc","asc"]},
			{"sWidth":"25px", "bSortable":false, "fnRender":function(oObj) { return '<a class="edit icon" href="/admin/institutions/'+oObj.aData['institution_id']+'/edit">Edit</a>';<% else %>return ""; }}
		],
		"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
			var total = {'total':0, 'clean':0, 'fossil':0, 'access':0};
			for (var i=iStart; i<iEnd; i++) {
				total['total']  += aaData[aiDisplay[i]]['total']*1;
				total['clean']  += aaData[aiDisplay[i]]['clean']*1;
				total['fossil'] += aaData[aiDisplay[i]]['fossil']*1;
				total['access'] += aaData[aiDisplay[i]]['access']*1;
			}
			var footer = nRow.getElementsByTagName('th');
			footer[0].innerHTML = '$'+to_currency(total['total']);
			footer[2].innerHTML = '$'+to_currency(total['clean']);
			footer[4].innerHTML = '$'+to_currency(total['fossil']);
			footer[6].innerHTML = '$'+to_currency(total['access']);
		}
	});
} );
</script>

<p class="buttons">
	<%= link_to 'New Institution', new_admin_institution_path, :class => "new button" %>
</p>