<header id="menubar">
<h1>Editing Institution</h1>
</header>

<%= render 'form' %>

<%= link_to "Delete this Institution", [:admin,@institution], :confirm => "Are you sure?", :method => :delete, :class => "delete button" %>