<%= render :partial => "layouts/menubar", :locals => {:start_date => @start_date, :end_date => @end_date, :modes => false} %>

<div id="tableview" class="view">
	<%= render :partial => "institution_table" %>
</div>