<%= render :partial => "layouts/menubar" %>

<div id="graphview" class="view">
	<%= render :partial => "bubble" %>
	<p id="caption"><b>Above:</b> Entities colored by <span class="clean">clean energy</span> vs <span class="fossil">fossil fuel</span> ratio, scaled by dollar amount received.</p>
</div>

<div id="tableview" class="view">
	<%= render :partial => "entities_table" %>
</div>