<%= render :partial => "layouts/menubar", :locals => {:title => 'Entity', :modes => false} %>
<%= render :partial => "layouts/setvars" %>

<div id="graphview" class="view"><%= render :partial => "entity_force" %></div>