<%# render :partial => "menubar" %>

<div id="info">
	<h1><%= @entity.name %></h1>
	<p><%= @entity.kind %></p>
</div>

<div id="graphview" class="view">
	<%= render :partial => "subsidy_bubbles", :object => @subsidies %>
	<p id="caption">Subsidies received by <%= @entity.name %>, scaled by amount.</p>
</div>