/*
		Stylesheet for ShiftTheSubsidies.org
		http://diligentcreative.com/
*/

/*	Imports (Reset, Type)
- - - - - - - - - - - - - - - - - - - - */

	@import "reset.css";
	@import "type.css";
	
	@font-face {font-family:Diavlo; src:url(style/fonts/Diavlo_LIGHT_II_37.otf) format("opentype"); font-weight:normal;}
	@font-face {font-family:Diavlo; src:url(style/fonts/Diavlo_BOLD_II_37.otf) format("opentype"); font-weight:bold;} 
	/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */

/*	Standard HTML Elements
- - - - - - - - - - - - - - - - - - - - */

	html,body {height:100%; background:#963 url(images/body.png) bottom repeat-x fixed;}
	
	a {color:#d72; text-decoration:none;}
	a:hover {color:#f96;}
	
	input {border:1px solid #ccc;}
	input[type=submit]:hover {cursor:pointer;}
	input::-moz-focus-inner {border:0; padding:0;}
	
	th {text-align:left;}
	tr:nth-child(even) {background:rgba(0,0,0,0.05);}


/* Elements by Class
- - - - - - - - - - - - - - - - - - - - */

	/* Buttons */
	
	a.button, input.button, ul.buttons a {padding:4px; color:#eee; background:#666; background-position:5px; background-repeat:no-repeat; border:1px solid rgba(255,255,255,0.125); border-radius:10px; -moz-border-radius:10px; text-shadow:0 1px 1px rgba(0,0,0,.5); -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5); text-decoration:none;}
	a.button:hover, input.button:hover, ul.buttons a:hover {color:#fff; background-color:#777; cursor:pointer;}

	a.button.donate, ul.buttons a[title=donate] {padding-left:25px; background-image:url(lib/css/icons/currency.png);}
	a.button.act, ul.buttons a[title=act] {padding-left:25px; background-image:url(lib/css/icons/flag.png);}
	
	/* Icons */
	
	a.icon {display:inline-block; width:18px; height:18px; text-indent:-9999px; background-position:center; background-repeat:no-repeat;}
		a.icon:hover {background-color:#ff0;}
	a.feed {background:url(lib/css/icons/feed-small.png) center no-repeat;}

	a.icon.show {background-image:url(icons/show.png);}
	a.icon.edit {background-image:url(icons/edit.png);}
	a.icon.destroy {background-image:url(icons/destroy.png);}

	/* Search Form */
	
	form.search input {margin:0; padding:4px; text-align:center;}
	form.search input[type="text"] {height:20px; width:auto; font-size:10px; border:1px solid rgba(255,255,255,0.25); border-radius:10px 0 0 10px; -moz-border-radius:10px 0 0 10px;}
	form.search input[type="submit"] {height:30px; line-height:20px; border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0;}

/*	Elements by ID
- - - - - - - - - - - - - - - - - - - - */

	/* OCI Universal Header */

	#wrapper {position:relative; min-height:100%; width:970px; margin:0 auto; padding-bottom:0px; background:#fff; -webkit-box-shadow:0 0 5px rgba(0,0,0,0.5); -moz-box-shadow:0 0 5px rgba(0,0,0,0.5); overflow:visible;}
	#content {width:950px; padding:10px;}
	
	#searchform {float:right; margin:7px 10px; font-size:10px;}
	#searchform input[type="text"] {display:block; float:left; height:10px; width:150px; text-align:center;}
	#searchform input[type="submit"] {width:70px; height:20px; line-height:10px;}

	/* Top Nav - Pages, Subscribe, Social Networks */

	#top_nav {margin:10px 10px 0 10px; height:35px; background:#111 url(lib/css/images/top_nav.png) center repeat-x; border:1px solid #222;}
	#top_nav ul {margin:0; padding:0;}
		#top_nav li {position:relative; z-index:99; list-style:none; float:left;}
		#top_nav li a {display:block; height:35px; width:80px; text-align:center; line-height:35px; border-right:1px solid #222;}
		#top_nav li a:hover {background:#333;}
			#top_nav li ul {display:none; background:#333; border:1px solid #000; border-top:0;}
			#top_nav li:hover ul {position:absolute; top:35px; left:-1px; display:block; z-index:99;}
			#top_nav li li {float:none;}
			#top_nav li li a {width:140px; text-align:left; padding:0 10px; border-right:0;}
	#top_nav #social {float:right; margin:0 10px 0 0;}
	#top_nav #social a {display:inline-block; padding:10px 3px 0 0;}

	#content h2 {margin:5px 0; color:#fff; font-size:10px; line-height:10px; text-transform:uppercase;}

	/* Content */
	
	#page {background:#fff; border-radius:10px; -moz-border-radius:10px; padding:20px;}
	#page .entry-title {font-size:24px; font-family:Diavlo;}
	#post .entry-title {font-size:24px; font-weight:bold; font-family:Diavlo;}
	
	#sharebar {margin:-20px -20px 20px; padding:10px; background:#ddd; text-align:right;}
	#sharebar a {padding-right:20px; background:url(lib/css/icons/share.png) right no-repeat;}

	/* Footer */
	
	footer {position:absolute; bottom:0; min-height:0px; width:950px; padding:10px; clear:both; color:#666; background:#333; border-top:1px solid #555; text-align:center;}