/*
		Stylesheet for ShiftTheSubsidies.org
		http://diligentcreative.com/
*/

/*	Imports (Reset, Type)
- - - - - - - - - - - - - - - - - - - - */

	@import "reset.css";
	@import "type.css";
	@import "http://priceofoil.org/oci/header.css";
	
/*	Standard HTML Elements
- - - - - - - - - - - - - - - - - - - - */

	html,body {height:100%; background:#963 url(images/body.png) bottom repeat-x fixed;}
	
	a {color:#d72; text-decoration:none;}
	a:hover {color:#f96;}
	
	input {border:1px solid #ccc;}
	input[type=submit]:hover {cursor:pointer;}
	input::-moz-focus-inner {border:0; padding:0;}
	
	th {text-align:left;}
	tr:nth-child(even) {background:rgba(0,0,0,0.05);}


/* Elements by Class
- - - - - - - - - - - - - - - - - - - - */

	/* Buttons */
	
	p.buttons {clear:both;}
	a.button, input.button, ul.buttons a {padding:4px; color:#eee; background:#999; background-position:5px; background-repeat:no-repeat; border:1px solid rgba(255,255,255,0.125); border-radius:10px; -moz-border-radius:10px; text-shadow:0 1px 1px transparent; text-decoration:none;}
	a.button:hover, input.button:hover, ul.buttons a:hover {color:#fff; background-color:#888; cursor:pointer;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.5) inset;}
	
	a.button.destroy:hover {background:#600;}
	
	/* Icons */
	
	a.icon {display:inline-block; width:18px; height:18px; text-indent:-9999px; background-position:center; background-repeat:no-repeat;}
		a.icon:hover {background-color:#ff0;}
	a.feed {background:url(lib/css/icons/feed-small.png) center no-repeat;}

	a.icon.show {background-image:url(icons/show.png);}
	a.icon.edit {background-image:url(icons/edit.png);}
	a.icon.destroy {background-image:url(icons/destroy.png);}

	/* Search Form */
	
	form.search input {margin:0; padding:4px; text-align:center;}
	form.search input[type="text"] {height:20px; width:auto; font-size:10px; border:1px solid rgba(255,255,255,0.25); border-radius:10px 0 0 10px; -moz-border-radius:10px 0 0 10px;}
	form.search input[type="submit"] {height:30px; line-height:20px; border-radius:0 10px 10px 0; -moz-border-radius:0 10px 10px 0;}

/*	Elements by ID
- - - - - - - - - - - - - - - - - - - - */

	/* OCI Universal Header */

	#wrapper {position:relative; min-height:100%; width:970px; margin:0 auto; padding-bottom:0px; background:#fff; -webkit-box-shadow:0 0 5px rgba(0,0,0,0.5); -moz-box-shadow:0 0 5px rgba(0,0,0,0.5); overflow:visible;}
	#content {width:970px; padding-bottom:0px;}
	body.admin:before {display:block; height:25px; content:"Admin Mode"; color:#c00; background:#f00; text-align:center; line-height:25px;}
	body.admin #content {padding-bottom:100px;}
	
	#searchform {float:right; margin:7px 10px; font-size:10px;}
	#searchform input[type="text"] {display:block; float:left; height:10px; width:150px; text-align:center;}
	#searchform input[type="submit"] {width:70px; height:20px; line-height:10px;}

	/* Top Nav - Pages, Subscribe, Social Networks */

	#top_nav {margin:10px 10px 0 10px; height:35px; background:#111 url(lib/css/images/top_nav.png) center repeat-x; border:1px solid #222;}
	#top_nav ul {margin:0; padding:0;}
		#top_nav li {position:relative; z-index:99; list-style:none; float:left;}
		#top_nav li a {display:block; height:35px; width:80px; text-align:center; line-height:35px; border-right:1px solid #222;}
		#top_nav li a:hover {background:#333;}
			#top_nav li ul {display:none; background:#333; border:1px solid #000; border-top:0;}
			#top_nav li:hover ul {position:absolute; top:35px; left:-1px; display:block; z-index:99;}
			#top_nav li li {float:none;}
			#top_nav li li a {width:140px; text-align:left; padding:0 10px; border-right:0;}
	#top_nav #social {float:right; margin:0 10px 0 0;}
	#top_nav #social a {display:inline-block; padding:10px 3px 0 0;}

	/* Menubar */
	
	header#menubar {position:relative; color:#fff; background-color:#333; background:-webkit-gradient(linear,left top,left bottom,color-stop(0.48,#333),color-stop(0.52,#000)); text-align:center; box-shadow:0 10px 10px rgba(0,0,0,0.125);}	
	header#menubar h1 {margin:0; line-height:1.25em;}
	header#menubar ul {position:absolute; top:5px; margin:0; padding:5px; list-style:none;}
	header#menubar ul li {position:relative; float:left; margin-right:5px;}
	header#menubar li ul {position:absolute; top:50px; right:-25%; margin:0; padding:0; width:150px; color:#fff; background:#333; border:5px solid #111; border-radius:10px; -webkit-box-shadow:0 3px 10px rgba(0,0,0,0.75); list-style:none;}
	header#menubar li li {height:50px; width:100%; color:#333; background:#ccc;}
	header#menubar li li:first-child {border-radius:5px 5px 0 0;}
	header#menubar li li:last-child {border-radius:0 0 5px 5px;}
	header#menubar li li:nth-child(odd) {background:#ddd;}
	header#menubar button {display:block; height:2em; width:50px; color:#999; background:#333; border:1px solid #000; border-radius:5px; -webkit-box-shadow:0 1px 1px rgba(255,255,255,0.25);}
	header#menubar button:hover {color:#fff; background:#666;}
	header#menubar button.active {color:#d72;}
	
	header#menubar ul#mode li:first-child {margin-right:0;}
		header#menubar ul#mode li:first-child button {border-right:1px solid #000; border-radius:5px 0 0 5px;}
		header#menubar ul#mode li:last-child button {border-left:0; border-radius:0 5px 5px 0;}
	header#menubar ul#modals {left:5px;}
	header#menubar ul#popovers {right:5px;}

	/* Content */

	#content {position:relative;}
	#content h1, #content h2, #content h3, #content h4 {font-family:Diavlo;}
	#content h2 {margin:5px 0; color:#fff; font-size:10px; line-height:10px; text-transform:uppercase;}

	#content form {margin-top:25px;}
	#content form a {color:#c60;}
	#content form a:hover {color:#f90;}
	#content form {position:relative; left:50%; margin-left:-160px; padding:10px; width:300px; background:#ccc; border-radius:10px;}
	#content form input, #content form select {margin-bottom:10px; font-size:14px;}
	#content form select {max-width:150px;}
	#content form input[type=text] {padding:5px; width:290px; font-size:14px; border:0;}
	#content form label {font-size:12px; color:#666; text-shadow:0 1px 1px rgba(255,255,255,0.25);}
	#content form input[type=submit] {margin:0; padding:5px; color:#fff; background:#999; font-size:14px; border:0; border-radius:10px;}
	#content form input[type=submit]:hover {color:#fff; background:#888;}

	#content form input#subsidy_source {font-size:10px;}
	
	#content a.button.delete {display:block; position:relative; width:120px; margin:10px 0 0 -60px; left:50%; background:#ccc; text-align:center;}
	#content a.button.delete:hover {background:#900;}
	
	#content #info {position:absolute; top:45px; left:0; padding:20px; width:25%; color:#fff; background:rgba(0,0,0,0.5); border-bottom-right-radius:10px;}
	#content #caption {position:absolute; bottom:-40px; left:20px; color:#999; font-size:14px; text-align:center;}
	
	.page {padding:20px;}
	.page p {clear:both;}
	
	.page .block {float:left; width:260px; margin:0 10px 20px 0; padding:20px; background:#eee;}
	#content .block h2 {color:#999;}

	
	#page {background:#fff; border-radius:10px; -moz-border-radius:10px; padding:20px;}
	#page .entry-title {font-size:24px; font-family:Diavlo;}
	#post .entry-title {font-size:24px; font-weight:bold; font-family:Diavlo;}
	
	#sharebar {margin:-20px -20px 20px; padding:10px; background:#ddd; text-align:right;}
	#sharebar a {padding-right:20px; background:url(lib/css/icons/share.png) right no-repeat;}
	
		/* Graphs */
		
		#loader {height:50px; width:100%; margin-top:25%; background:url(images/loader.gif) center no-repeat; text-indent:-9999px;}

		#graph circle {fill:#ccc; stroke:#fff; stroke-width:2; opacity:0.5; -webkit-transition:all 0.5s;}
			#graph circle:hover {opacity:0.6; cursor:pointer; stroke:#ff0;}
		
		#graph circle.Fossil {fill:#963;}
		#graph circle.Clean {fill:#0f0;}

		#graph text {fill:#000; font-family:Diavlo,"Helvetica Neue", Arial, Helvetica, sans-serif;}
		#graph text.label {dominant-baseline:middle; text-anchor:middle; font-size:18px; text-shadow:0 1px 1px rgba(0,0,0,0.5);}
		
		#graph line {stroke:#ccc;}
		
		/* Tables */
		
		#tableview {padding:20px;}
		#tableview table {clear:both; width:100% !important;}

	/* Footer */
	
	footer {position:absolute; bottom:0; min-height:0px; width:950px; padding:10px; clear:both; color:#666; background:#333; border-top:1px solid #555; text-align:center;}

	nav#adminbar {position:absolute; bottom:40px; border-top:1px solid #999; background:#ccc;}
	nav#adminbar ul {margin:0; padding:0; width:970px; overflow:hidden; text-align:center;}
	nav#adminbar ul li {float:left; width:20%;}
	nav#adminbar ul li a {display:block; width:100%; line-height:30px; color:#333; background:#666; text-shadow:1px 1px rgba(255,255,255,0.25);}
	nav#adminbar ul li a:hover {color:#555; background:#bbb; box-shadow:0 0 2px rgba(0,0,0,0.5) inset; -moz-box-shadow:0 0 2px rgba(0,0,0,0.5) inset;}
	
	nav#sections {border-top:1px solid #999; background:#ccc;}
	nav#sections ul {margin:0; padding:0; width:970px; overflow:hidden; text-align:center;}
	nav#sections ul li {float:left; width:20%;}
	nav#sections ul li a {display:block; width:100%; line-height:30px; color:#666; background:#ccc; text-shadow:1px 1px rgba(255,255,255,0.5);}
	nav#sections ul li a:hover {color:#555; background:#bbb; box-shadow:0 0 2px rgba(0,0,0,0.5) inset; -moz-box-shadow:0 0 2px rgba(0,0,0,0.5) inset;}