<div id="graph">
	<div id="info"><h1><%= @sector.name %></h1><p><%= @sector.description %></p></div>
	<p id="caption"><b>Above:</b> Projects of the <%= @sector.name %> sector, scaled by dollar amount.</p>
</div>
<script>
function draw_graph( json ) {
	var graph = {
		'objects':		'projects',
		'value':			'live_received',
		'max_value':	1E10,
		'label':			'"$"+to_short(d.data.live_received)'
	}
	draw_bubble_graph( graph,json );
}
</script>