<table id="projects">
	<thead>
		<tr>
			<th>Received (USD)</th>
    	<th>Name</th>
    	<th>Sector</th>
    	<th>Country</th>
    	<th>Energy Access</th>
    	<th></th>
		</tr>
  </thead>
</table>

<script>
$(document).ready(function() {
	oTable = $('#projects').dataTable({
		"bProcessing": true,
		"sAjaxSource": "<%= projects_url %>.json",
		"sAjaxDataProp": "projects",
		"aoColumns": [
			{"mDataProp":"received", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['project_url']+'">'+oObj.aData['name']+'</a>'; }},
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['sector_url']+'">'+oObj.aData['sector']+'</a>'; }},
			{"sWidth":"100px", "mDataProp":"country"},
			{"sWidth":"50px", "fnRender":function(oObj) { return oObj.aData['access']; }},
		],
		"sPaginationType": "full_numbers"
	});
	oTable.fnFilter( '^<%= @sector.name %>$',2,true );
} );
</script>
