<p id="table_caption">Sectors</p>
<table id="sectors">
	<thead>
		<tr>
			<th>Received</th>
			<th>Projects</th>
			<th>Name</th>
    	<th>Category</th>
    	<th></th>
		</tr>
  </thead>
</table>

<script>
function drawTable(data) {
	$('#sectors').dataTable({
		"bDestroy": true,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "sectors",
		"aoColumns": [
			{"mDataProp":"live_received", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{"sWidth":"50px", "mDataProp":"projects"},
			{"fnRender":function(oObj) { return '<a href="/sectors/'+oObj.aData['sector_id']+'">'+oObj.aData['name']+'</a>'; }},
			{"mDataProp":"category"},
		]
	});
};
</script>