<div id="graph"></div>

<script>
function drawGraph(graph,data) {
	
	var bubble = bubble_graph('#graph','scale(d.live_received)');

	var node = graph.selectAll("g.node")
		.data(bubble(bubblize(data.sectors))
			.filter(function(d) { return d.data.live_received > 0; })
			.filter(function(d) { return !d.children; }))
	.enter().append("svg:g")
		.attr("class","node")
		.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
			
	node.append("svg:image")
		.attr("class", "circle")
		.attr("xlink:href", function(d) { return d.data.icon; })
		.attr("x", function(d) { return "-" + d.r / 2 + "px"; })
		.attr("y", function(d) { return "-" + d.r / 2 + "px"; })
		.attr("width", function(d) { return d.r + "px"; })
		.attr("height", function(d) { return d.r + "px"; });

	node.append("svg:circle")
		.attr("r", function(d) { return d.r; })
		.attr("class", function(d) { return d.data.category; })
		.on("click", function(d) { location.href = "/sectors/"+d.data.sector_id; });
};	
</script>