<p id="table_caption">Sectors</p>
<table id="sectors">
	<thead>
		<tr>
			<th>Received</th>
			<th></th>
			<th>Projects</th>
			<th>Name</th>
    	<th>Category</th>
    	<th></th>
		</tr>
  </thead>
</table>

<script>
function drawTable(data) {
	$('#sectors').dataTable({
		"bDestroy": true,
		"bPaginate": false,
		"aaData": data,
		"aoColumns": [
			{"sWidth":"100px", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['live_received']); }, "sType":"currency", "asSorting":["desc","asc"] },
			{"sWidth":"15px", "fnRender":function(oObj) { return '<img src="'+oObj.aData['icon']+'" height="16" width="16" />'; }},
			{"sWidth":"50px", "mDataProp":"live_projects"},
			{"fnRender":function(oObj) { return '<a href="/sectors/'+oObj.aData['sector_id']+'">'+oObj.aData['name']+'</a>'; }},
			{"sWidth":"50px", "mDataProp":"category"},
		]
	});
};
</script>