<header id="menubar"><h1><%= @sector.name %></h1></header>

<h3>Category</h3>

<p><%= @sector.category %></p>

<h3>Projects:</h3>

<div id="tableview" class="view">
	<%= render :partial => "projects/table" %>
</div>