<table id="projects">
	<thead>
		<tr>
			<th>Received (USD)</th>
    	<th>Name</th>
    	<th>Country</th>
    	<th>Sector</th>
    	<th>Energy Access</th>
    	<th></th>
    	<th></th>
		</tr>
  </thead>
</table>

<script>
$(document).ready(function() {
	$('#projects').dataTable({
		"bProcessing": true,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "projects",
		"aoColumns": [
			{"mDataProp":"received", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{"fnRender":function(oObj) { return '<b>'+oObj.aData['name']+'</b>'; }},
			{"sWidth":"100px", "mDataProp":"country"},
			{"sWidth":"100px", "mDataProp":"sector"},
			{"sWidth":"50px", "fnRender":function(oObj) { return oObj.aData['access']; }},
			{ "sWidth":"15px", "fnRender":function(oObj) { if (oObj.aData['valid'] != 'true') { return '<span class="error icon">Errors</span>'; } else { return "&nbsp;"; }}},
			{"bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { return '<a class="edit icon" href="/admin/projects/'+oObj.aData['project_id']+'/edit/">Edit</a>'; }}
		],
		"sPaginationType": "full_numbers"
	});
} );
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Project', new_admin_project_path, :class => "new button" %>
</p><% end %>