<table id="table">
	<thead><tr><th>Received</th><th>Name</th><th>Region</th><th>Sector</th><th>Access?</th><th><span class="error icon">Errors?</span></th><th></th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th></tr></tfoot>
</table>

<script>
function draw_table( data ) {
	var h = $('#wrapper').height() - 250;
	$('#table').dataTable({
		"bPaginate": false,
		"aaData": data.projects,
		'aaSorting': [[0,'desc']],
		"sScrollY": h+'px',
		"aoColumns": [
			{
				'sWidth': '10%', 'sType': 'currency',
				'mData': 'received',
				'mRender': function( data ) { return '$'+to_currency( data ); }
			},
			{
				'mData': 'name',
				'mRender': function( data, type, row ) { return '<a href="'+row.url+'">'+data+'</a>'; }
			},
			{
				'sWidth': '10%',
				'mData': 'region'
			},
			{
				'sWidth': '10%',
				'mData': 'sector'
			},
			{
				'sWidth': '10%',
				'mData': 'access?',
				'mRender': function( data ) { if (data) { return 'yes'; } else { return 'no'; } }
			},
			{
				'sWidth': '5%',
				'mData': 'valid',
				'mRender': function( data ) { if ( data != true ) { return '<span class="error icon">Errors</span>'; } else { return '&nbsp;'; }}
			},
			{
				'sWidth': '5%',
				'bSortable': false,
				'mData': 'project_id',
				'mRender': function( data ) { return '<a class="edit icon" href="/admin/projects/'+data+'/edit/">Edit</a>'; }
			}
		],
		'fnFooterCallback': function ( tr, row, start, end, index ) {
			var total = {'total': 0};
			for (var i=start; i<end; i++) {
				total.total  += row[index[i]].received * 1.0;
			}
			$('th:eq(0)', tr).html( '$'+to_currency( total.total ));
		},

		// TableTools
		'sDom': 'T<"clear">lfrtip',
		'oTableTools': {
			'aButtons': [{
				'sExtends': 'csv',
				'sButtonText': 'Download as CSV'
			}],
			'sSwfPath': '/assets/jquery.dataTables.tableTools.swf'
		}

	});
};
</script>
<% if @user %><p class="buttons">
	<%= link_to 'New Project', new_admin_project_path, :class => "new button" %>
</p><% end %>