<p id="table_caption">Institutional subsidies for <span class="legend_start_year"><%= @start_date.year %></span><span class="legend_end_year">-<%= @end_date.year %></span></p>

<table id="table">
	<thead><tr><th>Total</th><th>Institution</th><th>Clean</th><th>%</th><th>Fossil</th><th>%</th><th>Access</th><th>%</th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr></tfoot>
</table>

<script>
function draw_table(data) {
	var h = $('#graph').height() - 162; /* thead (86px) + tfoot (78px) */
	var oTable = $('#table').dataTable({
		"bDestroy": true,
		"bPaginate": false,
		"aaData": data.institution_groups,
		"sScrollY": h+'px',
		"aoColumns": [
			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['awarded'][r].total); },"asSorting":["desc","asc"]},
			{"sWidth":"400px", "fnRender":function(oObj) { return '<a href="'+oObj.aData['url']+'"/>'+oObj.aData['name']+'</a>'; }},

			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['awarded'][r].clean); },"asSorting":["desc","asc"]},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['awarded'][r].clean / Math.max(oObj.aData['awarded'][r].total,1)) * 100)+"%"; }},

			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['awarded'][r].fossil); },"asSorting":["desc","asc"]},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['awarded'][r].fossil / Math.max(oObj.aData['awarded'][r].total,1)) * 100)+"%"; }},

			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['awarded'][r].access); },"asSorting":["desc","asc"]},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['awarded'][r].access / Math.max(oObj.aData['awarded'][r].total,1)) * 100)+"%"; }},
		],
		"fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
			var total = {'total':0, 'clean':0, 'fossil':0, 'access':0};
			for (var i=iStart; i<iEnd; i++) {
				total['total']  += aaData[aiDisplay[i]]['awarded'][r].total*1.0;
				total['clean']  += aaData[aiDisplay[i]]['awarded'][r].clean*1.0;
				total['fossil'] += aaData[aiDisplay[i]]['awarded'][r].fossil*1.0;
				total['access'] += aaData[aiDisplay[i]]['awarded'][r].access*1.0;
			}
			var footer = nRow.getElementsByTagName('th');
			footer[0].innerHTML = '$'+to_currency(total['total']);
			footer[2].innerHTML = '$'+to_currency(total['clean']);
			footer[4].innerHTML = '$'+to_currency(total['fossil']);
			footer[6].innerHTML = '$'+to_currency(total['access']);
		}
	});
	$.fn.dataTableExt.afnFiltering.push(function( oSettings, aData, iDataIndex ) {
		if ( aData[0] != '$0' ) { return true; } else { return false; }
	});
	$('button.table').click(function() { oTable.fnAdjustColumnSizing(); });
}
</script>