<%= render :partial => "layouts/menubar", :locals => {:title => "Funding Institutions", :start_date => @start_date, :end_date => @end_date} %>
<%= render :partial => 'layouts/setvars' %>

<div id="graphview" class="view"><%= render :partial => "institution_group_bubbles" %></div>
<div id="tableview" class="view"><%= render :partial => "institution_group_table" %></div>
