<header id="menubar">
	<h1 id="view_title">
		<% if @project %>
			Project
		<% else %>
			Projects
	<% end %></h1>
	<ul id="mode">
		<li><button class="graph" onclick="viewmode('graph');">Graph</button></li>
		<li><button class="table" onclick="viewmode('table');">Table</button></li>
	</ul>
</header><!-- #menubar -->
<script>$(document).ready(function() {viewmode('graph');});</script>