<div id="graph"></div>
<button class="close">&times;</button>
<script>
function draw_popup_graph( json ) {
	var graph = {
		'objects':		'projects',
		'value':		'received["'+r+'"]',
		'max_value':	1E10,
		'label':		'"$"+to_short(d.received["'+r+'"])'
	}
	draw_bubble_graph( graph,json );
}
</script>