<table id="projects">
	<thead>
		<tr>
    	<th>Name</th>
    	<th>Sector</th>
    	<th>Country</th>
    	<th>Tags</th>
    	<th></th>
		</tr>
  </thead>
	<tbody>
	<tr colspan="3"><td>Loading data...</td></tr>
	</tbody>
</table>

<script>
$(document).ready(function() {
	$('#projects').dataTable({
		"bProcessing": true,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "projects",
		"aoColumns": [
			{"mDataProp":"name"},
			{"mDataProp":"sector"},
			{"mDataProp":"country"},
			{"mDataProp":"tags"},
			{"bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { <% if @user %>return '<a class="edit icon" href="'+oObj.aData['url']+'/edit/">Edit</a>';<% else %>return "";<% end %> }}
		],
		"sPaginationType": "full_numbers"
	});
} );
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Project', new_project_path, :class => "new button" %>
</p><% end %>