<div id="page" class="about page">
	<h1>About ShiftTheSubsidies.org</h1>

	<h2>Background</h2>

	<p>For decades, wealthy countries have been using international aid and other foreign assistance to subsidize the expansion of the international fossil fuel industry. International financial institutions such as the World Bank Group, along with bilateral aid agencies and export credit agencies, provide billions of dollars a year in direct financial support to oil, gas and coal companies to expand production globally.</p>

	<p>More recently given the realities and consequences of climate change, which are expected to hit developing countries and the poor hardest, some aid money ? and even some money from export credit agencies ? has begun to shift toward cleaner modes of energy production, and to increase access to energy for the world?s poorest people. But most development institutions, bilateral aid agencies, and export credit agencies are still shoving public money into fossil fuel development. By tracking energy subsidies, this database is designed to encourage development banks and other institutions to Shift the Subsidies more quickly from dirty to clean energy.</p>

	<h2>The Database</h2>

	<p>The Shift the Subsidies database is an interactive tool to visually track and analyze the flow of energy subsidies from international, regional and bilateral public financial institutions around the world.</p>

	<p>Use the tabs at the top (<a href="/institutions">Funding Institutions</a>, <a href="/entities">Receiving Entities</a>, and <a href="/sectors">Energy Sectors</a>) to explore different facets of the information in the database. The Funding Institutions are institutions that give money to energy projects. The Project Countries are those countries where projects are undertaken with funds from the institutions. Energy Sectors are the different energy sectors that the projects fall into.</p>

	<p>This interactive tool provides two important views of the data, the Graph view and the Table view, and it also allows you to Filter by year.</p>

	<ul>
		<li>The Graph view provides a visualization of the data</li>
		<li>The Table view will give you a list of the dataset represented in the visualization.</li>
		<li>The Filter function allows you to filter by one year or a set of years.</li>
	</ul>

	<p>The database currently tracks energy subsidies from 2008 to present based on subsidy data from the World Bank Group. Stay tuned to this site because it will be regularly updated and expanded with subsidy data from a number of international and national development banks and bilateral institutions.</p>

	<p>The database shows energy subsidies to:</p>

	<ul>
		<li>fossil fuels (oil, gas, coal, and transmission lines or policy loans promoting these industries);</li>
		<li>clean energy (wind, solar, geothermal, small hydropower less than 10 megawatts, energy efficiency, and transmission lines or policy loans promoting these industries); and</li>
		<li>other energy (nuclear, large hydropower more than 10 megawatts, biofuels, biomass, and projects without enough information to determine the energy sector).</li>
	</ul>

	<p>The database also notes whether a project is described as being intended to increase energy access for the poor, according to whether the project documents indicate the project?s aim is to increase energy access at the level of basic human needs and productive uses.</p>

	<p><em>Please see our <a href="/methodology">Methodology</a> for a full explanation of the methodology used to research the data. </em></p>

</div>