<div id="page">

<h1>About ShiftTheSubsidies.org</h1>

<p>For decades, wealthy countries have been using international aid and other foreign assistance to subsidize the expansion of the international fossil fuel industry. International financial institutions such as the World Bank Group, along with bilateral aid agencies and export credit agencies, provide billions of dollars a year in direct financial support to oil, gas and coal companies to expand production globally. 
</p>
<p>More recently given the realities and consequences of climate change, which are expected to hit developing countries and the poor hardest, some aid money ? and even some money from export credit agencies ? has begun to shift toward cleaner modes of energy production, and to increase access to energy for the world?s poorest people. But most development institutions, bilateral aid agencies, and export credit agencies are still shoving public money into fossil fuel development. By tracking energy subsidies, this database is designed to encourage development banks and other institutions to Shift the Subsidies more quickly from dirty to clean energy. 
</p>
<p>The Shift the Subsidies database is an interactive tool to visually track and analyze the flow of energy subsidies from international, regional and bilateral public financial institutions around the world. 
</p>
<p>Use the tabs at the top (Subsidies, Institutions, Entities, Sectors, and Projects) [LINK TO EACH] to explore different facets of the information in the database. This interactive tool provides two important views of the data, the Graph view and the Table view. The Graph view provides a visualization of the data, while the Table view will give you a list of the data set represented in the visualization. 
</p>
<p>For example, on the Subsidies tab [LINK], the Graph view for each subsidy allows you to quickly see whether money is flowing into clean energy (green), fossil fuel energy (brown) or other energy (blue). The Table view will show you the corresponding data set. 
</p>
<p>On the Institutions tab [LINK], the Table view shows the percentage of energy funding from each institution that is clean energy and the percentage that goes to energy access for the poor. Our goal is to see those percentages climb towards 100. 
</p>
<p>The database currently tracks energy subsidies starting in 2008 based on subsidy data from the World Bank Group. Stay tuned to this site because it will be regularly updated and expanded with subsidy data from a number of international and national development banks and bilateral institutions. 
</p>
<p>The database shows energy subsidies to: 
<ul>
<li>fossil fuels (oil, gas, coal, and transmission lines or policy loans promoting these industries);
</li>
<li>clean energy (wind, solar, geothermal, small hydropower less than 10 megawatts, energy efficiency, and transmission lines or policy loans promoting these industries); and 
</li>
<li>other energy (nuclear, large hydropower more than 10 megawatts, biofuels, biomass, and projects without enough information to determine the energy source). 
</li>
</ul>
<p>The database also notes whether a project is described as being intended to increase energy access for the poor, according to whether the project documents indicate the project?s aim is to increase energy access at the level of basic human needs and productive uses. Because the provision of electricity services and increased reliability of electricity services are clear ways of demonstrating increased access to energy, these are included as indicators, along with the increased provision of energy services, which could be provided through the provision of cook stoves or modern fuels for heating.</p>

<p>Please see our Methodology [LINK] for a full explanation of the methodology used to research the data.
</p>
<p>Shift the Subsidies is a project of Oil Change International [LINK] , with our partners: Bank Information Center [LINK], Greenpeace International [LINK] , and others. 
</p>
<p>We would like to acknowledge the individuals who have contributed to this project directly with research and data collection: Traci Romine, Heike Mainhardt-Gibbs, Maria Lya Ramos, Yuri Onodera, and Frikk Nesje. 
</p>
</div>