<div id="page" class="about page container">

	<h1>Exploration Subsidies</h1> 

	<p>According to the International Energy Agency, in order to have even a 50 percent chance of keeping global warming under two degrees Celsius, less than one-third of global proven fossil fuel reserves can be burned by 2050. That means keeping more than two-thirds of the fossil fuel reserves that we already know about in the ground.</p>

	<p>The implication for the exploration is clear: Continued expansion of fossil fuel reserves is ludicrous from a climate perspective, and it is high time for fossil fuel exploration projects to end.</p> 

	<p>But public, taxpayer money still goes to oil, gas and coal companies to support exploration projects to seek more fossil fuels!</p> 

	<p>Since 2008, the major regional development banks and major export credit agencies have financed $ _____ [pull in total from international/sectors/44] in fossil fuel exploration projects.</p>

	<p>National governments are also subsidizing fossil fuel exploration through subsidies in their own countries. For example, the <a href="/#national-US">United States</a> spends on average more than $1 billion in exploration subsidies annually.</p> 

	<p>Subsidies to fossil fuel exploration are archaic and dangerous given the current threats from climate change. International financial institutions and governments should stop subsidizing exploration immediately.</p> 

</div>