<div id="page" class="about page">
	<h1>Shift the Subsidies Guide</h1>

	<p>Visit our <a href="/methodology">Methodology</a> to learn about our criteria for data research, subsidy calculation, and more.</p>

	<h2>About</h2>
	<p>For decades, wealthy countries have been using international aid and other foreign assistance to subsidize the expansion of the international fossil fuel industry. International financial institutions such as the World Bank Group, along with bilateral aid agencies and export credit agencies, provide billions of dollars a year in direct financial support to oil, gas and coal companies to expand production globally.</p>
	<p>More recently, given the realities and consequences of climate change, which are expected to hit developing countries and the poor hardest, some aid money and even some money from export credit agencies has begun to shift toward cleaner modes of energy production, and to increase access to energy for the world's poorest people. But most development institutions, bilateral aid agencies, and export credit agencies are still shoving public money into large-scale fossil fuel development. By tracking energy subsidies, this database is designed to arm you with information to encourage development banks and other institutions to <strong>Shift the Subsidies</strong> more quickly from dirty to clean energy.</p>
	<p>In addition to conducting original research, Oil Change International has partnered with <a href="http://bankwatch.org/">CEE Bankwatch Network</a> and <a href="http://www.bicusa.org">Bank Information Center</a> to collect the data on energy projects at development banks included in the <strong>Shift the Subsidies</strong> database.</p>

	<h2>Your Guide to the Subsidy Shift Database</h2>
	<p>This interactive database is a handy tool to track how multilateral development banks are spending public funds in the energy sector in developing countries, and your community. Data has been meticulously researched from international development banks to the extent that each institution makes details of its energy funding available to the public.</p>
	<p>At the top of the <a href="/">Home Page</a>, <strong>Tabs</strong> link to <a href="/institutions">Funding Institutions</a>, <a href="/projects">Project Map</a>, <a href="/sectors">Energy Sectors</a> and <a href ="/subsidies">Energy Subsidies</a>. Click on each Tab to see an immediate visual picture of where and how much money is flowing into dirty fossil fuel development (black), other energy development (grey), or clean and renewable energy (green).</p>
	<p>Each page, Funding Institutions, Project Map, Energy Sectors and Energy Subsidies, has a <strong>Table</strong> view on the left side of the page. This enables you to gather information about overall funding totals, the percentage of institutional funding that is clean, fossil, and for energy access, as well as specifics in the Project Map tab about energy projects in your community. Once you click on the Table view in any of the Page Tabs, a <strong>Search</strong> window appears on the right side of the page, which can be used to look for institutions, project descriptions, and specific funding information.</p>
	<p>Each page also has a <strong>Timeline</strong> button next to the Graph and Table buttons that enables you to track subsidies by time periods. The database currently includes data from FY2008 to FY2011 for the World Bank Group institutions and from FY2008 to FY2010 for the regional development banks.</p>
	
	<h2>Page Tabs: Funding Institutions, Project Map, Energy Sectors, Energy Subsidies, and Guide</h2>
	<p>The <strong>Funding Institutions Tab</strong>: Subsidy Shift tracks energy-sector financing supported by the World Bank Group, regional development banks, and certain energy and climate funds. Together these banks are known as multilateral development banks (MDBs). Stay tuned to this site because it will be regularly updated and expanded with subsidy data from a number of international and national development banks and bilateral institutions.</p>
	<p>The four World Bank Group institutions and regional development banks include:</p>
	<ol>
		<li>The International Bank for Reconstruction and Development (IBRD)</li>
		<li>The International Development Association (IDA)</li>
		<li>The International Finance Corporation (IFC), and</li>
		<li>The Multilateral Investment Guarantee Agency (MIGA)</li>
		<li>The African Development Bank (AfDB)</li>
		<li>The Asian Development Bank (ADB)</li>
		<li>The European Bank for Reconstruction and Development (EBRD)</li>
		<li>The European Investment Bank (EIB)</li>
		<li>The Inter-American Development Bank (IDB)</li>
	</ol>
	<p>The graph page shows circles to demonstrate each bank's energy financing. The larger the circle, the more money the bank is putting into energy projects. The darker the circle, the more money the bank is putting into fossil fuel projects.</p>
	<p>Click on each institution circle to see a breakdown of images that show each bank subsidy. Again, the size of each circle represents the quantity of money going into the specific project, and its color represents whether it is dirty, other, or clean energy, or specifically for energy access for the poor.</p>
	<p>Along the top of the page, total dollar amounts and the overall percentages of financing for dirty, clean and energy access projects are listed for each institution. By clicking the <strong>Arrows</strong> next to institution, clean, fossil or energy access, you can sort the page from highest to lowest amounts and percentages of funding.</p>	
	<p>The <strong>Table</strong> button lists the individual projects funded by the institution and the Timeline button lists projects within a given fiscal year or years.</p>
	<p>The <strong>Projects Map Tab</strong> provides an overall view of how multilateral energy financing is flowing into the developing world. The greener the country, the cleaner the energy funding the country is receiving. Countries that are darker or black are receiving more funding for coal, oil and gas development. Click on a country to see icons of each of the projects being funded. Click on the circle to see a description of the specific project. The Timeline button shows the financing to a country for a given timeframe.</p>
	<p>The <strong>Energy Sectors Tab</strong> provides a color graphic of what sectors of energy development are being financed. The larger the circle, the more money is flowing into that sector. The Table button lists the individual projects in each sector and the Timeline button lists the projects financed within a given timeframe.</p>
	<p>The <strong>Subsidies Tab</strong> demonstrates overall international development financing in the same colored circles. The Table button lists the individual subsidies for all years. The Timeline button shows subsidies for specific years. Subsidies can be sorted by using the small arrows next to the amount, from, to, for and the date.</p>
	
	<hr>
	
	<p>Visit our <a href="/methodology">Methodology</a> to learn about our criteria for data research, subsidy calculation, and more.</p>
	<p>The <strong>Shift the Subsidies</strong> database is a project of <a href="www.priceofoil.org">Oil Change International</a>. In addition to conducting original research, Oil Change International partnered with <a href="http://bankwatch.org/">CEE Bankwatch Network</a> and <a href="www.bicusa.org">Bank Information Center</a> to collect the data on energy projects at development banks included in the <strong>Shift the Subsidies</strong> database. Design and development were provided by <a href="http://diligentcreative.com/">Diligent Creative</a>. We thank our researchers: Heike Mainhardt-Gibbs, Maria Lya Ramos, Yuri Onodera, and Frikk Nesje.</p>
	<p>Our deep appreciation also goes to our funders for their generous support of this project: C.S. Mott Foundation, Rockefeller Brothers Fund, Wallace Global Fund, the Flora Family Foundation, and the Tikva Grassroots Empowerment Fund</p>

</div>