<div class="container">
	<div id="masthead">
		<h1 id="site-title"><a href="/">Shift the Subsidies</a></h1>
		<p id="site-tagline">tracks the flow of public money to fossil fuels <a id="nationalmode" href="#national" class="mode button">nationally</a> and to energy projects <a id="internationalmode" href="#international" class="mode button">internationally</a>.</p>
	</div><!-- #masthead -->
</div>

<div id="globe"></div>

<div id="tips">
	<div class="national-tips">
		<a data-region="US" href="#national-US">The US is interesting. Check it out.</a>
		<a data-region="US" href="#national-US">The US is interesting. Check it out.</a>
		<a data-region="US" href="#national-US">The US is interesting. Check it out.</a>
		<a data-region="AU" href="#national-AU">Australia is interesting. Check it out.</a>
		<a data-region="AU" href="#national-AU">Australia is interesting. Check it out.</a>
		<a data-region="AU" href="#national-AU">Australia is interesting. Check it out.</a>
	</div>
	<div class="international-tips">
		<a href="#international-MX" data-region="MX">Mexico is interesting. Check it out.</a>
		<a href="#international-CN" data-region="CN">China is interesting. Check it out.</a>
		<a href="#international-RU" data-region="RU">Russia is interesting. Check it out.</a>
		<a href="#international-AU" data-region="AU">Australia is interesting. Check it out.</a>
		<a href="#international-YE" data-region="YE">Yemen is interesting. Check it out.</a>
		<a href="#international-FR" data-region="FR">France is interesting. Check it out.</a>
	</div>
	<div id="center"></div>
</div>

<div id="info">
	<a class="close">&times;</a>
	<h3 class="name"></h3>
	<h4 class="total"></h4>
	<div id="chart"></div>
	<div id="graph"></div>
	<div class="description"></div>
</div>

<%= render :partial => 'projects/region_bubbles' %>
