<!-- Intro Screen -->

<div id="intro">
	<div class="container">

		<div id="masthead">
			<h1 id="site-title"><a href="/">Shift the Subsidies</a></h1>
			<p id="site-tagline">is an interactive tool to visually track and analyze the flow of public money&mdash;subsidies<sup>*</sup>&mdash;to the fossil fuel industry.</p>
		</div><!-- #masthead -->

		<div id="datasets">
			<button class="data-select intl" disabled>International<small>Grants, loans, equity, and loan guarantees to energy projects from international, regional, and bilateral public institutions.</small></button>
			<button class="data-select ntnl" disabled>National<small>Tax credits, incentives and other types of support from national governments to oil, gas and coal.</small></button>
		</div>

		<p class="definition"><sup>*</sup> According to the World Trade Organization, a subsidy is a transfer of funds or a potential transfer of funds from a government or public body through a grant, loan, equity infusion, or loan guarantee; a government fiscal incentive such as a tax credit; a government-provided good or service other than general infrastructure; or a government payment to a funding mechanism or private body to carry out one or more of the functions illustrated above.</p>

	</div>
</div>

<!-- Main App -->

<div id="globe"></div>

<div id="tips">
	<div class="national-tips">
		<a data-region="US" href="#national-US">The US is interesting. Check it out.</a>
		<a data-region="US" href="#national-US">The US is interesting. Check it out.</a>
		<a data-region="US" href="#national-US">The US is interesting. Check it out.</a>
		<a data-region="AU" href="#national-AU">Australia is interesting. Check it out.</a>
		<a data-region="AU" href="#national-AU">Australia is interesting. Check it out.</a>
		<a data-region="AU" href="#national-AU">Australia is interesting. Check it out.</a>
	</div>
	<div class="international-tips">
		<a href="#international-MX" data-region="MX">Mexico is interesting. Check it out.</a>
		<a href="/sectors">The future of energy in the developing world is coal?</a>
		<a href="#international-RU" data-region="RU">Your tax dollars are rebuilding Russia's energy infrastructure?</a>
		<a href="/institutions">IFC's fossil fuel finance is TWO THIRDS of its energy portfolio?</a>
	</div>
	<div id="center"></div>
</div>

<!-- Info Bar -->

<div id="info">
	<a class="close">&times;</a>
	<h3 class="name"></h3>
	<h4 class="total"></h4>
	<div id="chart"></div>
	<div id="graph"></div>
	<div class="action-link"></div>
	<div class="description"></div>
</div>

<%= render :partial => 'projects/region_bubbles' %>