<!-- Intro Screen -->

<div id="intro">
	<div class="container">

		<div id="masthead">
			<h1 id="site-title"><a href="/">Shift the Subsidies</a></h1>
			<p id="site-tagline">is an interactive tool to visually track and analyze the flow of public money&mdash;subsidies<sup>*</sup>&mdash;to the fossil fuel industry.</p>
		</div><!-- #masthead -->

		<div id="datasets">
			<button class="data-select intl" disabled>International<small>Grants, loans, equity, and loan guarantees to energy projects from international, regional, and bilateral public institutions.</small></button>
			<button class="data-select ntnl" disabled>National<small>Tax credits, incentives and other types of support from national governments to oil, gas and coal.</small></button>
		</div>

		<p class="definition"><sup>*</sup> According to the World Trade Organization, a subsidy is a transfer of funds or a potential transfer of funds from a government or public body through a grant, loan, equity infusion, or loan guarantee; a government fiscal incentive such as a tax credit; a government-provided good or service other than general infrastructure; or a government payment to a funding mechanism or private body to carry out one or more of the functions illustrated above.</p>

	</div>
</div>

<!-- Main App -->

<div id="globe"></div>

<div id="tips">
	<div class="national-tips">
		<a data-region="US" href="#national-US">The United States government has given as much as $30B in a year to oil, gas and coal?</a>
		<a data-region="AU" href="#national-US">Australia's oil subsidies are over $6B a year?</a>
		<a data-region="GB" href="#national-GB">The United Kingdom's gas subsidies are increasing?</a>
		<a data-region="DE" href="#national-DE">Germany gives over $2B a year in coal subsidies?</a>
		<a data-region="TR" href="#national-TR">Turkey’s fossil fuel subsidies have risen each year since 2005?</a>
	</div>
	<div class="international-tips">
		<a href="/sectors/exploration">We're funding exploration when known reserves must be left in the ground to avoid climate change?</a>
		<a href="/institution_groups/2">Over 40% of World Bank Group funding since 2008 has been to fossil fuels?</a>
		<a href="#international-EG" data-region="EG">Egypt has received over $4B in international funding for fossil fuel development?</a>
		<a href="/projects/46">A single South African coal plant has received over $5B?</a>
		<a href="/institutions#tableview" data-region="RU">Only 8% of World Bank Group energy projects provide energy access for the poor?</a>
		<a href="/sectors#tableview">Fossil fuels don’t support energy access for the poor?</a>
	</div>
	<div id="center"></div>
</div>

<!-- Info Bar -->

<div id="info" style="display:none">
	<a class="close">&times;</a>
	<a class="toggle">&origof;</a>
	<h3 class="name"></h3>
	<h4 class="total"></h4>
	<div id="chart"></div>
	<div id="graph"></div>
	<div class="action-link"></div>
	<div class="description"></div>
	<a class="source" href="https://docs.google.com/spreadsheet/ccc?key=0AlSpzNcXJg6WdHR1Z1VNN3pLQzBJdV9kM2xXelkyVmc&usp=sharing">Source</a>
</div>

<%= render :partial => 'projects/region_bubbles' %>