<div id="page" class="about page container">

<h1>About Shift the Subsidies - International</h1>

<p>The <b>Shift the Subsidies - International</b> database is an interactive tool to visually track and analyze the flow of energy subsidies from international, regional and bilateral public financial institutions around the world.</p>
	
<h2>Background</h2>
<p>For decades, wealthy countries and private companies have been using international aid and other foreign assistance—through grants, loans, equity and loan guarantees—to subsidize the expansion of the global fossil fuel industry.</p>

<p>International financial institutions such as the World Bank Group and regional development banks, along with export credit agencies and bilateral aid agencies, provide tens of billions of dollars each year in direct financial support to oil, gas and coal companies to expand production globally. This dirty energy infrastructure causes local pollution, relocation of communities, and contributes to climate change - which is expected to hit developing countries and the poor hardest - and rarely supports increased access to energy for the poor.</p>

<p>As the threat of climate change increases and recognition of the benefits of basic energy services for the world’s poorest grows, some aid money and even some money from export credit agencies has begun to shift toward cleaner modes of energy production and to increase access to energy for the world's poorest people. But a great deal of public money continues to flow to large-scale fossil fuel development.</p>

<p>By tracking energy subsidies, this database is designed to arm you with information on the quantity, sources, and types of energy subsidies in order to encourage development banks and other public finance institutions to Shift the Subsidies from dirty to clean energy.</p>

<h2>Who is responsible for the database?</h2>

<p><a href="http://www.priceofoil.org">Oil Change International</a> is responsible for the development and maintenance of the Shift the Subsidies database.</p>

<p><a href="http://bankwatch.org/">CEE Bankwatch Network</a> and <a href="http://www.bicusa.org">Bank Information Center</a> have contributed data to the website.</p>

<p><a href="http://staydiligent.com/">Diligent Creative</a> designed and developed the Shift the Subsidies database and website.</p>

<h2>What data is included in the database?</h2>

<p>The Shift the Subsidies database currently tracks energy projects and policy reforms supported by the following institutions from fiscal years 2008 to 2013:</p>
<ul>
<li>the World Bank Group, including the International Bank for Reconstruction and Development (IBRD), International Development Association (IDA), International Finance Corporation (IFC), and Multilateral Investment Guarantee Agency (MIGA)</li>
<li>regional development banks, including African Development Bank (AfDB), Asian Development Bank (ADB), European Bank for Reconstruction and Development (EBRD), European Investment Bank (EIB), and Inter-American Development Bank (IDB)</li>
<li>U.S. export credit agencies, including U.S. Export Import Bank and the U.S. Overseas Private Investment Corporation</li>
</ul>

<p>We are in the process of adding export credit agencies and bilateral aid from additional major governments.</p>

<p>Each project is classified as fossil fuel, clean energy, or other, and evaluated for whether it specifically targets energy access for the poor.</p>

<h2>How is the data compiled?</h2>

<p>Visit our <a href="/methodology">Methodology</a> page to learn more about how the data is researched and compiled.</p>
	
<h2>Contact</h2>

<p>For more information, please contact info (at) priceofoil.org.</p>

</div>