<div id="page" class="page methodology">

	<h1>Shift the Subsidies Methodology</h1>

	<h2>How are the funding institutions selected? </h2>
	<p>The database currently tracks energy lending from the World Bank Group and major regional development banks, including the African Development Bank, the Asian Development Bank, the European Bank for Reconstruction and Development, the European Investment Bank, and the Inter-American Development Bank. As the database grows, we will add export credit and national development bank lending from major bilateral lenders in the OECD and emerging economies.</p>

	<h2>How is the subsidy amount calculated? </h2>
	<p>The 'subsidy' amount is the 'commitment amount' or the 'loan amount' from the financial institution on the date that the subsidy was approved by the institution. In the case of the World Bank, if the project information indicates that only part of a loan goes towards energy lending, only the amount that goes towards energy is included. The European Investment Bank data relies on amounts in a database of energy projects provided by the EIB, which may be different than the full loan amount.</p>
	<p>The amount is either entered in the original currency or entered in a US dollars conversion rate at the time of the approval. If the amount is entered in the original currency, it is converted based on the amounts available in <a href="https://www.google.com/finance/converter">Google currency</a> on a daily basis.</p>
	<p>We recognize that there are different ways of quantifying subsidies. For example, some might argue that a 'subsidy' from a development bank should only reflect the difference in the below market interest rate and the subsidized interest rate for the project loan amount. The World Bank Group and most other public development banks do not make public clear descriptions of the financing terms, interest rates, or other important details about financial products used per project. So determining the favorable financing terms for each project is virtually impossible. This database tracks the overall amount of public money going to entities for energy projects. This is an accurate way to show the trends of what types of energy are being supported with our public money.</p>

	<h2>What range of data is being collected? </h2>
	<p>The database includes data from fiscal years 2008 to 2011 for the World Bank Group (which has a fiscal year from July &ndash; June) and fiscal years 2008-2010 for the regional development banks (which have fiscal years from January &ndash; December).  We plan to update the database periodically to include future fiscal years.</p>
	
	<h2>Does the 'Timeline' filter by calendar year or fiscal year?</h2>
	<p>The 'Timeline' function filters by fiscal year for the 'Funding Institutions' section and by calendar year for the other sections.</p>
	
	<h2>Are there differences in loans at different institutions?</h2>
	<p>World Bank Group. Data for the World Bank Group includes funds from the International Bank for Reconstruction and Development, the International Development Association, the International Finance Corporation, and the Multilateral Investment Guarantee Agency. Thanks to the Bank Information Center and Greenpeace International for contributing portions of the World Bank Group data.</p>
	<p>The data and financial amounts for the International Finance Corporation are limited to A and B loans, which are financed by the IFC's own accounts and sold, in the case of B loans, to institutional or private sector lenders, who provide the same terms and conditions for the B portion of the loan. If a government grants preferred creditor treatment to an A loan by the IFC, it must also do so to each participant's B loan, in effect passing on the preferred access to foreign exchange to non-preferred creditor lenders (i.e., placing them under the IFC umbrella.) MIGA investment guarantees, which provide security against the risk of default, are important to attract private investment to projects and are also included.</p>
	<p>Grants and allocations from special funds at the World Bank are included in the database but are listed under 'World Bank - Other' or 'Global Environment Facility', as they are not Bank funds.</p>
	<p>For projects and policy loans that cover more than one sector or thematic area, the subsidy amount that is included as the total is calculated according to the percentage of the financing that has been assigned to energy.</p>
	<p>European Investment Bank and European Bank for Reconstruction and Development. Many thanks to CEE Bankwatch Network for contributing the European Investment Bank and European Bank for Reconstruction and Development data.  Due to the availability of public information, the dates for these subsidies are the date the project was signed instead of the date it was approved. Further, there were some adjustments made to project categories from CEE Bankwatch classifications for projects at the EIB. For more information, please contact info (at) priceofoil.org.</p>

	<h2>How are projects classified into 'Clean,' 'Dirty,' and 'Other'?</h2>
	<p>Each project is classified into a category and sector as outlined below, based on the description of the project and project documents:</p>

	<p><strong>Clean Energy.</strong> In this database, clean energy includes energy that is both low carbon and has negligible impacts on the environment and on human populations. Energy efficiency and some renewable energy&mdash;energy coming from naturally replenished resources such as sunlight, wind, rain, tides, and geothermal heat, is included as 'Clean' energy.</p>
	<ul>
		<li>Energy efficiency - supply side: Energy efficiency projects that increase efficiency at the source, including transmission and distribution line upgrades or plant upgrades if they do not expand megawatts of fossil fuels or extend the life of fossil fuel projects</li>
		<li>Energy efficiency - district heating: Upgrades to district heating systems that decrease overall energy use</li>
		<li>Energy efficiency - end-use or demand side: End use energy savings such as energy efficient lighting or building efficiency</li>
		<li>Energy efficiency - general: Projects that include demand side and supply side efficiency measures or a cite energy efficiency measures generally</li>
		<li>Wind</li>
		<li>Solar</li>
		<li>Geothermal</li>
		<li>Small hydro (less than 10MW)</li>
		<li>Policy loans - clean energy: Policy loans supporting any of the above clean energy sources</li>
		<li>Transmission and distribution - clean: New transmission and distribution supporting any of the above clean energy sources</li>
		<li>Financing - clean: Financing for clean energy sources</li>
	</ul>

	<p><strong>Other.</strong> The development of some 'renewable' sources &mdash; notably large hydropower, biofuels, and biomass &mdash; can have significant impacts on the environment and on human populations that make it difficult to consider them totally 'clean.' These energy sources, along with nuclear power, incineration, and other forms of power that are not fossil fuel but not 'clean,' are included in the 'Other' category.</p>
	<ul>
		<li>Large hydropower (over 10 MW)</li>
		<li>Nuclear</li>
		<li>Biofuels</li>
		<li>Biomass</li>
		<li>Charcoal</li>
		<li>Policy loans - other: Policy loans that support 'other' sources where it is unclear whether support is for clean or fossil fuel energy</li>
		<li>Transmission and distribution - other: New transmission and distribution that supports 'other' sources or where it is unclear whether support is for clean or fossil fuel energy</li>
		<li>Financing - other: Financing that supports 'other' sources or where it is unclear whether support is for clean or fossil fuel energy</li>
	</ul>
	
	<p><strong>Fossil Fuel.</strong> Fossil fuels include any oil, gas or coal projects, or projects supporting the development or transmission of fossil fuel power.</p>
	<ul>
		<li>Oil and gas<ul>
			<li>Oil and gas exploration or extraction projects,</li>
			<li>Projects supplying equipment to oil and gas exploration or extraction,</li>
			<li>Projects building or supplying oil and gas pipelines,</li>
			<li>Oil and gas storage stations.</li>
		</ul></li>
		<li>Oil<ul>
			<li>A project described under oil and gas that excludes gas</li>
			<li>(Thermal) power plant construction or refurbishing projects if the plant is fired by oil,</li>
			<li>Oil-powered plant upgrades if they expand the megawatts produced or extend the life of the plant.</li>
		</ul></li>
		<li>Gas<ul>
			<li>A project described under oil and gas that excludes oil</li>
			<li>(Thermal) power plant construction or refurbishing projects if the plant is fired by gas,</li>
			<li>Gas-powered plant upgrades if they expand the megawatts produced or extend the life of the plant</li>
		</ul></li>
		<li>Coal<ul>
			<li>Coal exploration or extraction projects,</li>
			<li>Projects supplying equipment to coal exploration or extraction,</li>
			<li>Coal transport</li>
			<li>Coal storage stations,</li>
			<li>All (thermal) power plant construction or refurbishing projects if the plant is fired by coal (anthracite, bituminous coal, subbituminous coal, and lignite.)</li>
		</ul></li>
		<li>Policy loans - fossil fuels: Policy loans supporting any of the above fossil fuel sources</li>
		<li>Transmission and distribution - fossil fuels: Transmission and distribution supporting any of the above fossil fuel sources</li>
		<li>Financing - fossil fuels: Financing for fossil fuel energy sources</li>
		<li>Cooking fuels: Cook fuels if fossil fuel powered</li>
		<li>Coal bed methane</li>
		<li>Gas flaring reduction: Projects to reduce gas flaring</li>
	</ul>

	<h2>How are the ratios of clean energy to dirty energy determined?</h2>
	<p>The clean energy percentage for an institution is determined by dividing the total amount of the subsidies going to clean energy projects by the total amount of energy subsidies given by the institution.</p>

	<h2>How is energy access for the poor determined?</h2>
	<p>Project descriptions and documents are evaluated to determine whether the project does or does not target increased energy access for the poor. The following indicators are verified in project documents to evaluate whether projects address energy access for the poor:</p>
	<ol>
		<li>The project focuses on a targeted number of new electricity connections or energy services, such as clean cook stoves, to low-income households.</li>
		<li>The project focuses on electricity for services important to the poor, such as health clinics, schools, or telecommunications.</li>
		<li>The project focuses on improving the reliability of electricity services in an area that largely serves low-income households and/or electricity services important to the poor and currently has intermittent or unreliable access.</li>
		<li>The project focuses on provisions to make energy affordable for the poor ' e.g., effective, transparent safety nets to ensure that poor people can afford energy for basic needs, such as subsidies targeted at access, not consumption (as opposed to only having measures aimed at cost recovery ' such as tariff increases).</li>
		<li>The project is focused on productive uses in energy poor communities, such as looking at energy provision to smallholder farmers, small and medium enterprises and labor-intensive industries.</li>
		<li>The project involves power grid extension to new peri-urban or rural areas (as opposed to simply feeding into the existing grid system).</li>
		<li>The project involves rural, off-grid solutions for providing energy services.</li>
	</ol>
	
	<small>Note: While indicators 1) and 2) include the most basic energy services, the improvement of reliability to low-income households and communities (indicator 3), provisions for making energy affordable (indicator 4), and energy for small-scale productive uses (indicator 5) are also important in achieving a base level of energy access for all. Indicators 6) and 7) do not reflect energy access per se, but these indicators provide a proxy for initiatives that are likely to improve access when looking at projects.</small>

	<h2>How is the energy access percentage determined?</h2>
	<p>The energy access percentage for an institution is determined by dividing the total amount of the subsidies going to energy access projects by the total amount of energy subsidies given by the institution.</p>

	<h2>How is research collected?</h2>
	<p>Data on subsidies was collected from the following primary and secondary sources:</p>
	<ul>
		<li>Lending institutions' online project databases, including advanced searches at institutional websites, according to approval date, project type, sector, and entity beneficiaries; (if available)</li>
		<li>Annual Reports and other relevant documents, for example Project Information Documents (PIDs), from each institution (often for several years);</li>
		<li>Searching the <a href="http://www.oecd.org/dac/stats/crs">OECD Development Co-operation Directorate online database of Overseas Development Aid</a>;</li>
		<li>Public statements by institutions and entities including but not limited to press releases, other publications and speeches;</li>
		<li>Written responses from the institutions directly.</li>
		<li>Research contributed by partner organizations, including CEE Bankwatch and the Bank Information Center.</li>
	</ul>

</div>