<div id="page" class="container">

	<h1>Methodology for Shift the Subsidies - International</h1>

	<h2>Which institutions are tracked in Shift the Subsidies database?</h2>

	<p>The Shift the Subsidies database currently tracks energy projects and policy reforms supported by the following institutions from fiscal years 2008 to 2013:</p>
	<ul>
	<li>the World Bank Group, including the International Bank for Reconstruction and Development (IBRD), International Development Association (IDA), International Finance Corporation (IFC), and Multilateral Investment Guarantee Agency (MIGA)</li>
	<li>major regional development banks, including African Development Bank (AfDB), Asian Development Bank (ADB), European Bank for Reconstruction and Development (EBRD), European Investment Bank (EIB) and Inter-American Development Bank (IDB)</li>
	<li>U.S. export credit agencies, including U.S. Export Import Bank, and the U.S. Overseas Private Investment Corporation</li>
	</ul>

	<p>We are in the process of adding export credit agencies and bilateral aid from additional major governments.</p>

	<p>Our <a href="/institutions">Funding Institutions</a> page compares institutions in terms of how much financing they have provided to fossil fuel energy, clean energy, and energy access for the poor.</p>

	<p>Note that the 'Timeline' function filters by fiscal year for the 'Funding Institutions' section and by calendar year for the other sections.</p>

	<h2>How are projects classified as ‘Fossil’, ‘Clean’, or 'Other'?</h2>

	<p>Each project is classified into a category and sector as outlined below, based on the description of the project and project documents. A description of each category can be found by clicking on the sector under the ‘Energy Sectors’ tab.</p>

	<p><b>Fossil Fuel.</b> Fossil fuels include any oil, gas or coal production or exploration projects, or projects supporting the development or transmission of fossil fuel power.  It also includes any policy reforms that provide incentives for fossil fuel development and investment.</p>
	
	<p><b>Clean Energy.</b> In this database, clean energy includes energy that is both low carbon and has negligible impacts on the environment and on human populations. Some energy efficiency and some renewable energy—energy coming from naturally replenished resources such as sunlight, wind, rain, tides, and geothermal heat, is included as 'Clean' energy. It also includes any policy reforms that provide incentives for clean energy development and investment.</p>

	<p><b>Other.</b> The development of some 'renewable' sources — notably large hydropower, biofuels, and biomass — can have significant impacts on the environment and on human populations that make it difficult to consider them totally 'clean.' These energy sources, along with nuclear power, incineration, and other forms of power that are not fossil fuel but not 'clean,' are included in the 'Other' category.  Many transmission/distribution and energy sector policy reforms that are unable to be specifically linked to the source of energy are also classified as “other”.</p>

	<p>Go to our <a href="/sectors">Energy Sectors</a> page to see all of the energy sectors included in the database and how they are grouped as fossil (black), clean (green), or other (gray).</p>

	<h2>How are the percentages of fossil fuel energy and clean energy calculated?</h2>

	<p>The fossil fuel energy percentage for an institution is determined by dividing the total amount of the subsidies going to fossil fuel energy projects by the total amount of energy subsidies given by the institution. The same calculation is made for clean energy projects (amount for clean energy projects divided by total amount of energy finance).</p>

	<h2>When is a project classified as energy access for the poor?</h2>

	<p>Project descriptions and documents are evaluated to determine whether or not the project targets increased energy access for the poor. The following indicators are verified in project documents to evaluate whether projects address energy access for the poor:</p>
	<ul>
		<li>The project focuses on a targeted number of new electricity connections or energy services, such as clean cook stoves, to low-income households.</li>
		<li>The project focuses on electricity for services important to the poor, such as health clinics, schools, or telecommunications.</li>
		<li>The project focuses on improving the reliability of electricity services in an area that largely serves low-income households and/or electricity services important to the poor and currently has intermittent or unreliable access.</li>
		<li>The project focuses on provisions to make energy affordable for the poor e.g., effective, transparent safety nets to ensure that poor people can afford energy for basic needs, such as subsidies targeted at access, not consumption (as opposed to only having measures aimed at cost recovery, such as tariff increases).</li>
		<li>The project is focused on productive uses in energy poor communities, such as providing energy to smallholder farmers, small and medium enterprises and labor-intensive industries.</li>
		<li>The project involves power grid extension to new peri-urban or rural areas (as opposed to simply feeding into the existing grid system).</li>
		<li>The project involves rural, off-grid solutions for providing energy services.</li>
	</ul>

	<p>Note: While indicators 1) and 2) include the most basic energy services, the improvement of reliability to low-income households and communities (indicator 3), provisions for making energy affordable (indicator 4), and energy for small-scale productive uses (indicator 5) are also important in achieving a base level of energy access for all. Indicators 6) and 7) do not reflect energy access per se, but these indicators provide a proxy for initiatives that are likely to improve access when evaluating projects.</p> 

	<h2>How is the energy access percentage determined?</h2>

	<p>The energy access percentage for an institution is determined by dividing the total amount of the subsidies going to energy access projects by the total amount of energy subsidies given by the institution.</p>

	<h2>How is the ‘subsidy’ amount determined?</h2>

	<p>The 'subsidy' amount is the amount committed from the financial institution on the date that the loan, grant, or guarantee was approved by the institution. If it can be determined from project information that only a portion of the project or loan went to energy, then only that percentage will be included as the ‘subsidy’ amount.</p>
	
	<p>The amount is entered in U.S. dollars. If currency conversion is required, the U.S. dollar amount is calculated based on the exchange rate on December 31 of the approval year, using the rates published on X-Rates [link to: http://www.x-rates.com/historical/].</p>

	<p>We recognize that there are different ways of quantifying subsidies. For example, some might argue that a 'subsidy' from a development bank should only reflect the difference in the below market interest rate and the subsidized interest rate for the project loan amount. However, most financing institutions do not make publicly available the financing terms, interest rates, or other details about financial transactions, so determining the favorable financing terms for each project is extremely difficult. In addition, in some cases, the energy project would not be able to obtain adequate finance without the public assistance and would thus not go forward at all. This simply illustrates the difficulty in quantifying the subsidy.</p>

	<p>By tracking the overall amount of international financial institution and bilateral financing going to entities for energy projects, the database accurately reflects trends in the types of energy being supported with public money.</p>
	 	
	<h2>Notes on Particular Institutions</h2>

	<p><b>World Bank Group.</b> Data for the World Bank Group includes funds from the International Bank for Reconstruction and Development, the International Development Association, the International Finance Corporation, and the Multilateral Investment Guarantee Agency. Thanks to the Bank Information Center and Greenpeace International for contributing portions of the World Bank Group data.</p>

	<p>Grants and allocations from special funds housed at the World Bank are included in the database but are listed under 'World Bank - Other' or 'Global Environment Facility', as they are not Bank funds.</p>
	
	<p>For projects and policy loans that cover more than one sector or thematic area, the subsidy amount is calculated according to the percentage of the financing that has been assigned to energy.</p>
	
	<p><b>European Investment Bank and European Bank for Reconstruction and Development.</b> Many thanks to CEE Bankwatch Network for contributing the European Investment Bank and European Bank for Reconstruction and Development data. Due to the availability of public information, the dates for these subsidies are the date the project was signed instead of the date it was approved. Further, there were some adjustments made to project categories from CEE Bankwatch classifications for projects at the EIB and EBRD.</p> 

	<h2>Contact</h2>
	
	<p>For more information, please contact info (at) priceofoil.org.</p>

</div>