<div id="page" class="page methodology">

<h1>Shift the Subsidies Methodology</h1>

<h2>Research</h2>
<p>Data on subsidies was collected from the following primary and secondary sources:
<ul>
<li>Lending institutions' online project databases, including advanced searches at institutional websites, according to approval date, project type, sector, and entity beneficiaries; (if available)</li>
<li>Annual Reports and other relevant documents, for example Project Information Documents (PIDs), from each institution (often for several years);</li>
<li>Searching the OECD Development Co-operation Directorate online database of Overseas Development Aid (http://www.oecd.org/dac/stats/crs);</li>
<li>Public statements by institutions and entities including but not limited to press releases, other publications and speeches;</li>
<li>Written responses from the institutions directly.</li>
<li>Research contributed by partner organizations, including the Bank Information Center and others;</li>
</ul>
</p>

<h2>Definitions for <%= link_to 'Subsidies', subsidies_url %></h2>
<dl>
	<dt>Amount in USD</dt>
	<dd>This is the 'commitment amount' or the 'loan amount' from the institution. The amount was entered in the original currency and converted based on xxx.</dd>
	
	<dt>From Institution</dt>
	<dd>This is the institution that is providing the subsidy.</dd>
	
	<dt>To Entity</dt>
	<dd>This is the entity that is receiving the subsidy.</dd>

	<dt>For Project</dt>
	<dd>This is the project that is being funded by the subsidy.</dd>

	<dt>Approval Date</dt>
	<dd>This refers to the date the subsidy was approved by the institution. The database counts the full project amount reported by the institution on the date it is approved.</dd>

	<dt>Type</dt>
	<dd>This is the type of financing for the project: loan, grant, equity or guarantee. Note for the World Bank Group that both A and B loans are quantified.</dd>

	<dt>Data source</dt>
	<dd>Website or other source for subsidy data.</dd>
</dl>

<h2>Definitions for <%= link_to 'Institutions', institutions_path %></h2>
<dl>
	<dt>Institution</dt>
	<dd>The international institution, bilateral institution or export credit agency that is providing subsidies.</dd>

	<dt>Type of institution</dt>
	<dd>Multilateral, bilateral, or export credit. Multilateral institutions are institutions owned by a number of governments. Bilateral agencies are aid and development agencies operated by a single government. Export credit agencies are a subset of bilateral agencies that provide export credits.</dd>

	<dt>Group/Country/Region</dt>
	<dd>The umbrella institution, country, and/or region that the institution belongs to.</dd>

	<dt>Fiscal Year</dt>
	<dd>The beginning month of each institution's fiscal year has been recorded and annual data is displayed by fiscal year.</dd>

	<dt>Clean Energy</dt>
	<dd>Percentage of financing from an institution that is clean energy.</dd>

	<dt>Energy Access</dt>
	<dd>Percentage of financing from an institution that is targeted at energy access.</dd>
</dl>

<h2>Information on the Entities page [LINK] includes: </h2>
<p>Entity: Entity receiving the subsidy. 
Clean Energy: Percentage of financing to an entity that is clean energy.
Energy Access: Percentage of financing to an entity that is targeted at energy access. </p>

<h2>Information on the Sectors page [LINK] includes:</h2>
<p>Sector: Each project is classified into a sector as outlined below:</p>

<h3>Fossil Fuel Energy</h3>
	<ul>
	<li>
		<h4>Oil and gas</h4>
		<ul>
			<li>Oil and gas exploration or extraction projects,</li>
			<li>Projects supplying equipment to oil and gas exploration or extraction,</li>
			<li>Projects building or supplying oil and gas pipelines,</li>
			<li>Oil and gas storage stations.</li>
		</ul>
	</li>
	
	<li>
		<h4>Oil</h4>
		<ul>
			<li>A project described under oil and gas that excludes gas</li>
			<li>(Thermal) power plant construction or refurbishing projects if the plant is fired by oil,</li>
			<li>Oil-powered plant upgrades if they expand the megawatts produced or extend the life of the plant.</li>
		</ul>
	</li>
	
	<li>
		<h4>Gas</h4>
		<ul>
			<li>A project described under oil and gas that excludes oil
			<li>(Thermal) power plant construction or refurbishing projects if the plant is fired by gas,
			<li>Gas-powered plant upgrades if they expand the megawatts produced or extend the life of the plant
		</ul>
	</li>
	
	<li>
		<h4>Coal</h4>
		<ul>
			<li>Coal exploration or extraction projects,
			<li>Projects supplying equipment to coal exploration or extraction,
			<li>Coal transport
			<li>Coal storage stations,
			<li>All (thermal) power plant construction or refurbishing projects if the plant is fired by coal (anthracite, bituminous coal, subbituminous coal, and lignite.)
		</ul>
	</li>
	
	<li>Policy loans supporting any of the above fossil fuel sources
	<li>Transmission and distribution supporting any of the above fossil fuel sources
	<li>Financing for fossil fuel energy sources
	<li>Cook fuels if fossil fuel powered
	<li>Gas flaring reduction
</ul>

<h3>Clean Energy</h3>
<ul>
	<li>Supply-side energy efficiency 
	<li>District heating 
	<li>Plant upgrades if they do not expand megawatts of fossil fuels or extend the life of fossil fuel projects
	<li>Transmission and distribution line upgrades
	<li>End-use energy efficiency
	<li>End use energy savings such as energy efficient lighting
	<li>Building efficiency
	<li>Wind
	<li>Solar
	<li>Geothermal
	<li>Small hydro (less than 10MW)
	<li>Policy loans supporting any of the above clean energy sources
	<li>New transmission and distribution supporting any of the above clean energy sources
	<li>Financing for clean energy sources
</ul>

<h3>Other</h3>
<ul>
	<li>Large hydropower (over 10 MW)</li>
	<li>Nuclear</li>
	<li>Biofuels</li>
	<li>Biomass</li>
	<li>Charcoal</li>
	<li>Coal bed methane</li>
	<li>Policy loans that support 'other' sources where it is unclear whether support is for clean or fossil fuel energy</li>
	<li>New transmission and distribution that supports 'other' sources or where it is unclear whether support is for clean or fossil fuel energy</li>
	<li>Financing that supports 'other' sources or where it is unclear whether support is for clean or fossil fuel energy</li>
</ul>

Information on the Projects page [LINK] includes: 
Project: Name of the project. 
Country: Country where project is located
Description: Brief description of the project and its components; the total project cost; generating capacity; who  the project is intended to serve and other development benefits if available; and any additional information available to analyze the project for climate mitigation potential and energy access for the poor.  
Sector: The energy sector of the project.  
Energy access: Whether the project does or does not target energy access for the poor. 

The following indicators were sought in project documents to evaluate whether projects address energy access for the poor:

1. The project focuses on a targeted number of new electricity connections or energy services, such as clean cook stoves, to low-income households.
2. The project focuses on electricity for services important to the poor, such as health clinics, schools, or telecommunications.
3. The project focuses on improving the reliability of electricity services in an area that largely serves low-income households and/or electricity services important to the poor and currently has intermittent or unreliable access.
4. The project focuses on provisions to make energy affordable for the poor ' e.g., effective, transparent safety nets to ensure that poor people can afford energy for basic needs, such as subsidies targeted at access, not consumption (as opposed to only having measures aimed at cost recovery ' such as tariff increases).
5. The project is focused on productive uses in energy poor communities, such as looking at energy provision to smallholder farmers, small and medium enterprises and labor-intensive industries.
6. The project involves power grid extension to new peri-urban or rural areas (as opposed to simply feeding into the existing grid system).
7. The project involves rural, off-grid solutions for providing energy services.

While indicators 1) and 2) include the most basic energy services, the improvement of reliability to low-income households and communities (indicator 3), provisions for making energy affordable (indicator 4), and energy for small-scale productive uses (indicator 5) are also important in achieving a base level of energy access for all. Indicators 6) and 7) do not reflect energy access per se, but these indicators provide a proxy for initiatives that are likely to improve access when looking at projects.
</div>