<table id="table">
	<thead><tr><th>Amount</th><th>From</th><th>To</th><th>For</th><th>Date</th><th></th></tr></thead>
	<tbody></tbody>
	<tfoot><tr><th></th></tr></tfoot>
</table>

<script>
function draw_table( data ) {
	var h = $('#wrapper').height() - 328;
	$('#table').dataTable({
		"bProcessing":true,
		"bPaginate":false,
		"aaData": data.subsidies,
		"sScrollY": h+'px',
		"aoColumns": [
			{"sWidth":"100px", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['amount']); }, "sType":"currency", "asSorting":["desc","asc"] },
			{ "fnRender":function(oObj) { return oObj.aData['from']; }},
			{ "fnRender":function(oObj) { return '<a href="/admin/entities/'+oObj.aData['entity_id']+'">'+oObj.aData['to']+'</a>'; }},
			{ "fnRender":function(oObj) { return '<a href="/admin/projects/'+oObj.aData['project_id']+'">'+oObj.aData['for']+'</a>'; }},
			{ "mDataProp":"date", "sWidth":"75px" },
			{ "bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { <% if @user %>return '<a class="edit icon" href="/admin/subsidies/'+oObj.aData['subsidy_id']+'/edit/">Edit</a>';<% else %>return "";<% end %>}}
		]
	});
}
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Subsidy', new_admin_subsidy_path, :class => "new button" %>
</p><% end %>