<table id="entities">
	<thead>
		<tr>
			<th>Received (USD)</th>
			<th>Projects</th>
			<th>Name</th>
			<th>% Clean Energy</th>
			<th>% Energy Access</th>
    	<th></th>
			<th></th>
		</tr>
  </thead>
	<tbody>
	</tbody>
</table>

<script>
$(document).ready(function() {
	$('#entities').dataTable({
		"bPaginate": false,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "entities",
		"aoColumns": [
			{"sWidth":"100px", "sType":"currency", "fnRender":function(oObj) { return '$'+to_currency(oObj.aData['total']); },"asSorting":["desc","asc"]},
			{"sWidth":"50px", "mDataProp":"projects"},
			{"fnRender":function(oObj) { return '<b>'+oObj.aData['name']+'</b>'; }},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['clean'] / Math.max(oObj.aData['total'],1)) * 100)+"%"; }},
			{"sWidth":"25px", "sType":"percent", "fnRender": function(oObj) { return Math.floor((oObj.aData['access'] / Math.max(oObj.aData['total'],1)) * 100)+"%"; }},
			{ "sWidth":"15px", "fnRender":function(oObj) { if (oObj.aData['valid'] != 'true') { return '<span class="error icon">Errors</span>'; } else { return "&nbsp;"; }}},
			{"bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { return '<a class="edit icon" href="/admin/entities/'+oObj.aData['entity_id']+'/edit/">Edit</a>'; }}
		]
	});
} );
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Entity', new_admin_entity_path, :class => "new button" %>
</p><% end %>