<table id="entities">
	<thead>
		<tr>
			<th>Received (USD)</th>
			<th>Projects</th>
			<th>Name</th>
			<th>% Clean Energy</th>
			<th>% Energy Access</th>
			<th></th>
		</tr>
  </thead>
	<tbody>
	</tbody>
</table>

<script>
$(document).ready(function() {
	$('#entities').dataTable({
		"bProcessing": true,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "entities",
		"aoColumns": [
			{ "mDataProp":"received", "sType":"currency", "sWidth":"100px", "asSorting":["desc","asc"] },
			{"sWidth":"50px", "mDataProp":"projects"},
			{"fnRender":function(oObj) { return '<a href="'+oObj.aData['entity_url']+'">'+oObj.aData['name']+'</a>'; }},
			{"sWidth":"100px", "mDataProp":"percent_clean"},
			{"sWidth":"100px", "mDataProp":"percent_access"},
			{"bSortable":false, "sWidth":"25px", "fnRender":function(oObj) { <% if @user %>return '<a class="edit icon" href="'+oObj.aData['entity_url']+'/edit/">Edit</a>';<% else %>return "";<% end %> }}
		],
		"sPaginationType": "full_numbers"
	});
} );
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Entity', new_admin_entity_path, :class => "new button" %>
</p><% end %>