<header id="menubar"><h1>Editing Entity</h1></header>

<%= render 'form' %>

<%= link_to "Delete this Entity", [:admin,@entity], :confirm => "Are you sure?", :method => :delete, :class => "delete button" %>