<%= render :partial => "layouts/menubar", :locals => {:modes => false} %>
<%= render :partial => "layouts/setvars" %>

<div id="tableview" class="view">
	<%= render :partial => "entity_table" %>
</div>