@font-face {font-family:'Diavlo';
	src:url('fonts/diavlo_light_ii_37-webfont.eot');
	src:url('fonts/diavlo_light_ii_37-webfont.ttf') format('truetype'),
	url('fonts/diavlo_light_ii_37-webfont.svg') format('svg');
	font-weight:normal; font-style:normal;
}
@font-face {font-family:'Diavlo';
	src:url('fonts/diavlo_bold_ii_37-webfont.eot');
	src:url('fonts/diavlo_bold_ii_37-webfont.ttf') format('truetype'),
	url('fonts/diavlo_bold_ii_37-webfont.svg') format('svg');
	font-weight:bold; font-style:normal;
}