<div id="graph">
	<p id="caption"><b>Above:</b> Subsidies.</p>
</div>

<script>
function drawGraph(graph,data) {
	var bubble = bubble_graph('#graph','d.amount');
	
	var bubbles = graph.selectAll("div.bubble")
		.data(bubble(bubblize(data.subsidies))
			.filter(function(d) { return d.data.amount > 0; })
			.filter(function(d) { return !d.children; }));
	
	make_bubbles(bubbles,'','d.data.category','d.data.subsidy_url','"$"+to_currency(d.data.amount)','d.data.icon');
}
</script>