<table id="subsidies">
	<thead>
		<tr>
    	<th>Amount</th>
    	<th>From</th>
    	<th>To</th>
    	<th>For</th>
    	<th>Date</th>
    	<th></th>
		</tr>
  </thead>
	<tbody>
	<tr colspan="3"><td>Loading data...</td></tr>
	</tbody>
</table>

<script>
$(document).ready(function() {
	$('#subsidies').dataTable({
		"bProcessing": true,
		"sAjaxSource": "<%= request.url %>.json",
		"sAjaxDataProp": "subsidies",
		"aoColumns": [
			{"mDataProp":"amount"},
			{"mDataProp":"from"},
			{"mDataProp":"to"},
			{"mDataProp":"for"},
			{"mDataProp":"date"},
			{"fnRender":function(oObj) { <% if @user %>return '<a class="edit icon" href="'+oObj.aData['url']+'/edit/">Edit</a>';<% else %>return "";<% end %> }}
		],
		"sPaginationType": "full_numbers"
	});
} );
</script>

<% if @user %><p class="buttons">
	<%= link_to 'New Subsidy', new_subsidy_path, :class => "new button" %>
</p><% end %>