<% if model.errors.any? %>
	<div id="error_explanation">
		<h2>Oops! <%= pluralize(model.errors.count, "error") %> found:</h2>
		<ol>
			<% model.errors.full_messages.each do |msg| %><li><%= msg %></li><% end %>
		</ol>
	</div>
<% end -%>