	<div id="oci_nav">
		<h1 id="oci_logo"><a href="http://priceofoil.org/">Oil Change International</a></h1>
		<p id="oci_sites">Our sites: <a href="http://priceofoil.org/">The Price of Oil</a> | <a href="http://dirtyenergymoney.org/">Dirty Energy Money</a> | <a href="http://priceofoil.org/fossil-fuel-subsidies/">Shift the Subsidies</a></p>
		<p id="oci_buttons">
			<a class="donate button" href="http://priceofoil.org/donate/">Donate Now</a>
			<a class="act button" href="http://priceofoil.org/action/">Take Action</a>
		</p>
		<form id="oci_subscribe" action="http://www.democracyinaction.org/dia/processEditValues.jsp" method="post">
			<input type="text" name="Email" value="Your Email Address" onfocus="this.value='';" class="text" /><input type="submit" name="Yes" value="Subscribe" class="mail button submit" />
			<input type="hidden" name="table" value="supporter" />
			<input type="hidden" name="organization_KEY" value="790" />
			<input type="hidden" name="redirect" value="http://action.priceofoil.org/p/salsa/web/common/public/signup?signup_page_KEY=3199" />
		</form>
		<style>@import "http://priceofoil.org/oci/header.css";</style>
	</div><!-- #oci_nav -->