<div id="menubar">
	<h1 id="view_title"><%= title ||= controller.controller_name.capitalize %></h1>
	<% unless defined? modes and !modes %><ul id="mode">
		<li><button class="graph" onclick="viewmode('graph');">Graph</button></li>
		<li><button class="table" onclick="viewmode('table');">Table</button></li>
	</ul><% end -%>
	<ul id="popovers">
		<% if defined? start_date %><li>
			<button class="range" onclick="popover('range');">Timeline</button>
			<ul id="range" class="popover" style="display:none;">
				<h2>Years</h2>
				<li><b>Start:</b> <%= select_year start_date.year, {:start_year => START_YEAR, :end_year => END_YEAR}, {:id => "start_year"} %></li>
				<li><b>End:</b> <%= select_year end_date.year || start_date.year, {:start_year => START_YEAR, :end_year => END_YEAR}, {:id => "end_year"} %></li>
			</ul>
		</li><% end -%>
	</ul>
</div><!-- #menubar -->