<div id="sharethis">
	<span class='st_twitter_large' ></span><br />
	<span class='st_facebook_large' ></span><br />
	<span class='st_google_large' ></span><br />
	<span class='st_tumblr_large' ></span><br />
	<span class='st_instapaper_large' ></span><br />
	<span class='st_email_large' ></span><br />
	<script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript">stLight.options({publisher:'cce66299-0cc6-428e-ac63-3623a128eb2a'});</script>
</div>